@model IEnumerable<SUADATOS.Empleado>
@using SUADATOS
@using SUAMVC.Models
@using System.Text;

@{
    String sourceController = ViewBag.sourceController;
    if (sourceController.Contains("Baja"))
    {
        ViewBag.Title = "Empleados a dar de baja";
    }
    else
    {
        ViewBag.Title = "Empleados a modificar";
    }

    ViewBag.Title = "Empleados registrados";
    int solicitudId = ViewBag.solicitudId;
    String sua = ViewBag.sua;
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    suaEntities db = new suaEntities();
    Usuario usuario = Session["UsuarioData"] as Usuario;
    Solicitud solicitud = db.Solicituds.Find(solicitudId);

    var grid = new WebGrid(source: Model, rowsPerPage: 10);
    var tableHtml = string.Empty;
    var sb = new StringBuilder();

    //Creamos una lista de columnas
    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(grid.Column(format: @<text><input type="checkbox" name="ids" value="@item.id" /></text>, header: "{}"));
    gridColumns.Add(grid.Column("empleadoId", "ID", format: @<text> @if (@item.folioEmpleado != null)
    {  @item.folioEmpleado }</text>, canSort: true));
    gridColumns.Add(grid.Column("nombreCompleto", "Nombre", format: @<text> @if (@item.nombreCompleto != null)
    {  @item.nombreCompleto }</text>, canSort: true));
    gridColumns.Add(grid.Column("nss", "NSS", format: @<text> @if (@item.nss != null)
    {  @item.nss }</text>, canSort: true));

    gridColumns.Add(grid.Column("fechaAltaImss", "Fecha Ingreso", @<text><div style='width: 6em'>@item.fechaCreacion.ToString("dd-MM-yyyy")</div></text>, null, canSort: true));
    gridColumns.Add(grid.Column("fechaBaja", "Fecha Baja",
        @<text><div style='width: 6em'>
                @if (@item.fechaBaja != null)
                { @item.fechaBaja.ToString("dd-MM-yyyy")}
            </div></text>, null, canSort: true));

    sb.Append(grid.GetHtml(
    columns: grid.Columns(gridColumns.ToArray()),
    tableStyle: "table table-striped tableSua"
    ));

    tableHtml = sb.ToString().Replace("{}", "<input type='checkbox' id='selectAll' name='slall' />").Trim();


}

@section Menu {
    <div>Baja Empleados SUA<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}


@using (Html.BeginForm())
{
    <div class="marqueeFilter">
        <table style="float:left; margin-top:5px;display:inline-block;">
            <tr style="text-align:left;vertical-align:bottom;">
                <td style="padding-top:20px">
                    @Html.Label("Cliente:")
                </td>
                <td>
                    @Html.Label(solicitud.Cliente.descripcion)
                </td>
                <td style="padding-left:50px">
                    @Html.Label("Proyecto:")
                </td>
                <td style="padding-left:5px">
                    @Html.Label(solicitud.Proyecto.descripcion)
                </td>
                <td style="padding-left:50px">
                    @Html.Label("Folio:")
                </td>
                <td style="padding-left:5px">
                    @Html.Label(solicitud.folioSolicitud)
                </td>
            </tr>
        </table>
    </div>
}





@if (!tableHtml.IsEmpty())
{
    using (Html.BeginForm("asignarEmpleadoSUA", "Empleados", new { solicitudId = solicitudId, sua = ViewBag.sua }))
    {

        <div class="menubar-header">
            <table>
                <tr>
                    <td style="padding-top:15px">
                        <a href="@Url.Action("Index", sourceController, new { clienteId = solicitud.clienteId, proyectoId = solicitud.proyectoId })">
                            <p><img src="~/Content/Images/back.png" alt="" style="border:none;float:left;clear:both; " class="icon" />@Language.regresar</p>
                        </a>
                    </td>
                    <td style="padding-left:30px; padding-top:8px">
                        <input type="submit" value="" class="raddEmployee_button" title="Asignar empleados marcados" />
                    </td>
                    <td style="padding-left:30px; padding-top:3px">

                        <a href="@Url.Action("SolicitudEmpleado", "SolicitudesBaja", new { solicitudId = solicitudId })">
                            <img src="~/Content/Images/see.png" alt="" style="border:none;" class="icon" title="Ver empleados asignados" />
                        </a>
                    </td>
                </tr>
            </table>
        </div><br />
        <div id="table-container" class="table-container">
            @Html.Raw(tableHtml)

        </div>
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=slall]").change(function () {
            $('#table-container input[type=checkbox]').each(function () {
                if ($("input[name=slall]:checked").length == 1) {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            });
        });
    });
</script>




