@model SUADATOS.Empleado
@using SUADATOS
@using SUAMVC.Models
@using System.Text;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    suaEntities db = new suaEntities();
    Usuario usuario = Session["UsuarioData"] as Usuario;
    int solicitudId = Model.solicitudId;
    Solicitud solicitud = db.Solicituds.Find(solicitudId);
    Pais mexico = db.Paises.Where(s => s.clavePais.Trim().Equals("MEX")).FirstOrDefault();


    Model.tramitarTarjeta = 1;
    Model.Pais = mexico;
    Model.nacionalidadId = mexico.id;

    Model.esquemaPagoId = solicitud.esquemaId ?? default(int);
    Model.EsquemasPago = solicitud.EsquemasPago;
    Model.sdiId = solicitud.sdiId ?? default(int);
    Model.SDI = solicitud.SDI;

}

@section Menu {
    <div>Alta Empleados por Solicitud <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.solicitudId)
    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Departamento
        </div>
        <div class="panel-body" style="font-size:10px;">
            <table style="margin: 0 auto;">
                <thead>
                    <tr style="background-color:#2E538A; color:white; min-height:20px; font-size:15px;">
                        <th colspan="6" style="margin: 0 auto; text-align:center;">@Html.Label("Folio de Solicitud " + Model.Solicitud.folioSolicitud)</th>
                    </tr>
                </thead>
                <tbody style="margin-top:50px; padding-top:50px;">
                    <tr>
                        @if (solicitud.EsquemasPago.descripcion.Trim().Equals("SyS"))
                        {
                            <td>
                                @Html.LabelFor(model => model.nss, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.nss, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nss, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.LabelFor(model => model.fechaAltaImss, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.fechaAltaImss, new { htmlAttributes = new { @class = "myDate" } })
                                @Html.ValidationMessageFor(model => model.fechaAltaImss, "", new { @class = "text-danger" })
                            </td>
                        }
                    </tr>


                    <div class="form-group">

                        <div class="col-md-10">

                        </div>
                    </div>
                    <tr>
                        <td>@Html.LabelFor(model => model.apellidoPaterno, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.apellidoPaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellidoPaterno, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.apellidoMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.apellidoMaterno, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.apellidoMaterno, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.rfc, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.rfc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rfc, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.homoclave, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.homoclave, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.homoclave, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.curp, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.curp, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.curp, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.sexoId, "sexoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("sexoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sexoId, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <!--
                    <tr>
                        <td>@Html.LabelFor(model => model.sdiId, "sdiId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("sdiId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sdiId, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.esquemaPagoId, "esquemaPagoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("esquemaPagoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.esquemaPagoId, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                        -->
                    <tr>
                        <td>@Html.LabelFor(model => model.salarioReal, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.salarioReal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.salarioReal, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.categoria, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.tieneInfonavit, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.Label("Si")
                            @Html.RadioButtonFor(model => model.tieneInfonavit, "1", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.Label("No")
                            @Html.RadioButtonFor(model => model.tieneInfonavit, "0", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tieneInfonavit, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.estadoCivilId, "estadoCivilId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("estadoCivilId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.estadoCivilId, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.creditoInfonavit, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.creditoInfonavit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.creditoInfonavit, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.LabelFor(model => model.fechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.nacionalidadId, "nacionalidadId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("nacionalidadId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.nacionalidadId, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.LabelFor(model => model.estadoNacimientoId, "estadoNacimientoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("estadoNacimientoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.estadoNacimientoId, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.municipioNacimientoId, "municipioNacimientoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("municipioNacimientoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.municipioNacimientoId, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.LabelFor(model => model.calleNumero, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.calleNumero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.calleNumero, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.colonia, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.LabelFor(model => model.edoMunicipio, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.edoMunicipio, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.edoMunicipio, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.codigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.codigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.codigoPostal, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.tramitarTarjeta, htmlAttributes: new { @class = "control-label col-md-2", id = "tramitarTarjetaTxt" })</td>
                        <td>
                            @Html.Label("Si")
                            @Html.RadioButtonFor(model => model.tramitarTarjeta, "1", new { htmlAttributes = new { @class = "form-control", id = "tramitarTarjeta" } })
                            @Html.Label("No")
                            @Html.RadioButtonFor(model => model.tramitarTarjeta, "0", new { htmlAttributes = new { @class = "form-control", id = "tramitarTarjetaN" } })
                            @Html.ValidationMessageFor(model => model.tramitarTarjeta, "", new { @class = "text-danger" })

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.bancoId, "bancoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("bancoId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.bancoId, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.LabelFor(model => model.cuentaBancaria, htmlAttributes: new { @class = "control-label col-md-2", id = "cuentaTxt" })</td>
                        <td>
                            @Html.EditorFor(model => model.cuentaBancaria, new { htmlAttributes = new { @class = "form-control", id = "cuenta" } })
                            @Html.ValidationMessageFor(model => model.cuentaBancaria, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.cuentaClabe, htmlAttributes: new { @class = "control-label col-md-2", id = "cuentaClabeTxt" })</td>
                        <td>
                            @Html.EditorFor(model => model.cuentaClabe, new { htmlAttributes = new { @class = "form-control", id = "cuentaClabe" } })
                            @Html.ValidationMessageFor(model => model.cuentaClabe, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <input type="submit" value="@Language.agregar" class="btn btn-default" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        //attach with the id od deductions
        $("#tramitarTarjeta").bind("change", validateCuenta("#tramitarTarjeta"));
        $("#tramitarTarjetaN").bind("change", validateCuenta("#tramitarTarjetaN"));

    });

    function validateCuenta(id) {
        var msg = $(id).val();
        alert(msg + id);
        if (msg == '1') {
            $("#cuenta").hide("slow");
            $('#cuentaTxt').hide("slow");
            $("#cuentaClabe").hide("slow");
            $('#cuentaClabeTxt').hide("slow");
        } else {
            $("#cuenta").show();
            $('#cuentaTxt').show();
            $("#cuentaClabe").show();
            $('#cuentaClabeTxt').show();
        }
    }
</script>
