@model SUADATOS.Empleado
@using SUADATOS
@using SUAMVC.Models
@using System.Text;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    suaEntities db = new suaEntities();
    Usuario usuario = Session["UsuarioData"] as Usuario;

    //Asignamos la solicitud
    int solicitudId = ViewBag.solicitudId;
    Solicitud solicitud = db.Solicituds.Find(solicitudId);

    Model.esquemaPagoId = solicitud.esquemaId ?? default(int);
    Model.EsquemasPago = solicitud.EsquemasPago;
    Model.sdiId = solicitud.sdiId ?? default(int);
    Model.SDI = solicitud.SDI;

    bool editMode = true;
    if (ViewBag.editMode != null)
    {
        editMode = ViewBag.editMode;
    }

}

<script type="text/javascript">
    $(function () {
        $("#Number").autocomplete({
            source: '@Url.Action("obtenerCategorias", "Empleados")',
            minLength: 1
        });
    });
</script>

<script language="javascript" type="text/javascript">
    function obtenerMunicipios(_estadoId) {
        var procemessage = "<option value='0'> Por favor espere...</option>";
        $("#municipioId").html(procemessage).show();
        var url = "/Municipios/ObtenerMunicipiosPorId/";

        $.ajax({
            url: url,
            data: { estadoId: _estadoId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccione municipio</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#municipioId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function validarNss(_nss) {

        var url = "/Empleados/validarNss/";

        $.ajax({
            url: url,
            data: { nss: _nss },
            cache: false,
            type: "POST",
            success: function (data) {

            },
            error: function (response) {
                alert("Error :" + response);
            }
        });
    }
</script>

@section Menu {
    <div>Alta Empleados por Solicitud <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{

    <div class="editor-label">
        @Html.LabelFor(model => model.categoria)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @id = "Number" } })
    </div>

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("solicitudId", solicitudId)
    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Empleado
        </div>
        <div class="panel-body" style="font-size:10px;">
            <table style="margin: 0 auto;">
                <thead>
                    <tr style="background-color:#2E538A; color:white; min-height:20px; font-size:15px;">
                        <th colspan="6" style="margin: 0 auto; text-align:center;">@Html.Label("Folio de Solicitud " + solicitud.folioSolicitud + " Cliente:" + solicitud.Cliente.descripcion)</th>
                    </tr>
                </thead>
                <tbody style="margin-top:50px; padding-top:50px;">
                    <tr>
                        @if (solicitud.EsquemasPago != null && solicitud.EsquemasPago.descripcion.Trim().Equals("SyS"))
                        {
                            <td>
                                @Html.Label(Language.nss, htmlAttributes: new { @class = "control-label col-md-2" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.nss, new { htmlAttributes = new { @onchange = "javascript:validarNss(this.value);" } })
                                @Html.ValidationMessageFor(model => model.nss, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.Label(Language.fechaAltaImss, htmlAttributes: new { @class = "control-label col-md-2 " })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.fechaAltaImss, new { htmlAttributes = new { @class = "myImmsDate" } })
                                @Html.ValidationMessageFor(model => model.fechaAltaImss, "", new { @class = "text-danger" })
                            </td>
                        }
                    </tr>

                    <tr>
                        <td>@Html.Label(Language.apellidoPaterno, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.apellidoPaterno)
                            @Html.ValidationMessageFor(model => model.apellidoPaterno, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.Label(Language.apellidoMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.apellidoMaterno)
                            @Html.ValidationMessageFor(model => model.apellidoMaterno, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>
                            @Html.Label(Language.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.nombre)
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.rfc, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.rfc)
                            @Html.ValidationMessageFor(model => model.rfc, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.homoClave, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.homoclave)
                            @Html.ValidationMessageFor(model => model.homoclave, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.curp, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.EditorFor(model => model.curp)
                            @Html.ValidationMessageFor(model => model.curp, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.sexo, "sexoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DropDownList("sexoId")
                        @Html.ValidationMessageFor(model => model.sexoId, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.esquemaPagoId, "esquemaPagoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.DisplayFor(model => model.EsquemasPago.descripcion, new { @Id = "esquemaPago"})
                            @Html.ValidationMessageFor(model => model.esquemaPagoId, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.LabelFor(model => model.sdiId, "sdiId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.sdiDrownList(usuario.Id, "sdiId","")
                            @Html.ValidationMessageFor(model => model.sdiId, "", new { @class = "text-danger" })
                        </td>
                        
                        <td></td>
                        <td></td>
                    </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.salarioReal, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.salarioReal)
                        @Html.ValidationMessageFor(model => model.salarioReal, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.categoria, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.categoria)
                        @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.tieneInfonavit, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.Label("Si")
                        @Html.RadioButtonFor(model => model.tieneInfonavit, "1", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.Label("No")
                        @Html.RadioButtonFor(model => model.tieneInfonavit, "0", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tieneInfonavit, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.estadoCivilId, "estadoCivilId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @if (editMode)
                        {
                            @Html.DropDownList("estadoCivilId")
                            @Html.ValidationMessageFor(model => model.estadoCivilId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.EstadoCivil.descripcion)
                        }
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.creditoInfonavit, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.creditoInfonavit)
                        @Html.ValidationMessageFor(model => model.creditoInfonavit, "", new { @class = "text-danger" })
                    </td>

                    <td>@Html.LabelFor(model => model.fechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "myBornDate" } })
                        @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.nacionalidadId, "nacionalidadId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @if (editMode)
                        {
                            @Html.paisesDrownList(usuario.Id, "nacionalidadId")
                            @Html.ValidationMessageFor(model => model.nacionalidadId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Pais.descripcion)
                        }
                    </td>

                    <td>@Html.LabelFor(model => model.estadoNacimientoId, "estadoNacimientoId", htmlAttributes: new { @class = "control-label col-md-2", id = "estadoIdTxt" })</td>
                    <td>
                        @if (editMode)
                        {
                            @Html.DropDownList("estadoNacimientoId", null, new { @id = "estadoId", @style = "width:200px;", @onchange = "javascript:obtenerMunicipios(this.value);" })
                            @Html.ValidationMessageFor(model => model.estadoNacimientoId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Estado.descripcion)
                        }
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.municipioNacimientoId, "municipioNacimientoId", htmlAttributes: new { @class = "control-label col-md-2", id = "municipioIdTxt" })</td>
                    <td>
                        @if (editMode)
                        {
                            @Html.DropDownList("municipioNacimientoId", null, htmlAttributes: new { id = "municipioId" })
                            @Html.ValidationMessageFor(model => model.municipioNacimientoId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Municipio.descripcion)
                        }
                    </td>

                    <td>@Html.LabelFor(model => model.calleNumero, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.calleNumero)
                        @Html.ValidationMessageFor(model => model.calleNumero, "", new { @class = "text-danger" })
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.colonia, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.colonia)
                        @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                    </td>

                    <td>@Html.LabelFor(model => model.edoMunicipio, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.edoMunicipio)
                        @Html.ValidationMessageFor(model => model.edoMunicipio, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.codigoPostal, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.codigoPostal)
                        @Html.ValidationMessageFor(model => model.codigoPostal, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.tramitarTarjeta, htmlAttributes: new { @class = "control-label col-md-2", id = "tramitarTarjetaTxt" })</td>
                    <td>
                        @Html.Label("Si")
                        @Html.RadioButtonFor(model => model.tramitarTarjeta, "1", new { htmlAttributes = new { @class = "form-control", name = "tramitarTarjeta" } })
                        @Html.Label("No")
                        @Html.RadioButtonFor(model => model.tramitarTarjeta, "0", new { htmlAttributes = new { @class = "form-control", name = "tramitarTarjeta" } })
                        @Html.ValidationMessageFor(model => model.tramitarTarjeta, "", new { @class = "text-danger" })

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.bancoId, "bancoId", htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @if (editMode)
                        {
                            @Html.DropDownList("bancoId")
                            @Html.ValidationMessageFor(model => model.bancoId, "", new { @class = "text-danger" })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Banco.descripcion)
                        }
                    </td>

                    <td>@Html.LabelFor(model => model.cuentaBancaria, htmlAttributes: new { @class = "control-label col-md-2", id = "cuentaTxt" })</td>
                    <td>
                        @Html.EditorFor(model => model.cuentaBancaria, new { htmlAttributes = new { id = "cuenta" } })
                        @Html.ValidationMessageFor(model => model.cuentaBancaria, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(model => model.cuentaClabe, htmlAttributes: new { @class = "control-label col-md-2", id = "cuentaClabeTxt" })</td>
                    <td>
                        @Html.EditorFor(model => model.cuentaClabe, new { htmlAttributes = new { id = "cuentaClabe" } })
                        @Html.ValidationMessageFor(model => model.cuentaClabe, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.email)
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                    <td>
                        @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                    </td>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <input type="submit" value="@Language.agregar" class="btn btn-primary" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
}


<div>
    @Html.ActionLink(Language.regresar, "Index")
</div>

<script>
    $(window).load(function () {
        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });
    $(document).ready(function () {
        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });

    function validateCuenta(msg) {
        if (msg == '1') {
            $("#cuenta").hide("slow");
            $('#cuentaTxt').hide("slow");
            $("#cuentaClabe").hide("slow");
            $('#cuentaClabeTxt').hide("slow");
        } else {
            $(window).load(function () {
                // Run code
            });
            $("#cuenta").show();
            $('#cuentaTxt').show();
            $("#cuentaClabe").show();
            $('#cuentaClabeTxt').show();
        }
    }

    function validatePais() {
        var msg = $("#paisId :selected").text();
        if (msg.toLowerCase() != 'mexico' && msg.toLowerCase() != 'méxico') {
            $("#municipioId").hide("slow");
            $("#municipioIdTxt").hide("slow");
            $('#estadoId').hide("slow");
            $('#estadoIdTxt').hide("slow");
        } else {
            $("#municipioId").show();
            $("#municipioIdTxt").show();
            $('#estadoId').show();
            $('#estadoIdTxt').show();
        }
    }
</script>
