@model SUADATOS.Empleado
@using SUADATOS
@using SUAMVC.Models
@using System.Text;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    suaEntities db = new suaEntities();
    Usuario usuario = Session["UsuarioData"] as Usuario;

    //Asignamos la solicitud
    int solicitudId = ViewBag.solicitudId;
    Solicitud solicitud = db.Solicituds.Find(solicitudId);

    Model.esquemaPagoId = solicitud.esquemaId ?? default(int);
    Model.EsquemasPago = solicitud.EsquemasPago;
    Model.sdiId = solicitud.sdiId ?? default(int);
    Model.SDI = solicitud.SDI;

    bool editMode = true;
    if (ViewBag.editMode != null)
    {
        editMode = ViewBag.editMode;
    }

}

<script language="javascript" type="text/javascript">
    function obtenerMunicipios(_estadoId) {
        var procemessage = "<option value='0'> Por favor espere...</option>";
        $("#municipioId").html(procemessage).show();
        var url = "/Municipios/ObtenerMunicipiosPorId/";

        $.ajax({
            url: url,
            data: { estadoId: _estadoId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccione municipio</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#municipioId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function validarNss(_nss) {

        var url = "/Empleados/validarNss/";

        $.ajax({
            url: url,
            data: { nss: _nss },
            cache: false,
            type: "POST",
            success: function (data) {

            },
            error: function (response) {
                alert("Error :" + response);
            }
        });
    }
</script>

@section Menu {
    <div>Alta Empleados por Solicitud <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("solicitudId", solicitudId)
    @Html.HiddenFor(model => model.esquemaPagoId)
    @Html.HiddenFor(model => model.sdiId)
    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Empleado
        </div>
        <div class="panel-body" style="font-size:10px;">
            <table style="margin: 0 auto;">
                <thead>
                    <tr style="background-color:#2E538A; color:white; min-height:20px; font-size:15px;">
                        <th colspan="6" style="margin: 0 auto; text-align:center;">@Html.Label("Folio de Solicitud " + solicitud.folioSolicitud + " Cliente:" + solicitud.Cliente.descripcion)</th>
                    </tr>
                </thead>
                <tbody style="margin-top:50px; padding-top:50px;">
                    <tr>
                        @if (solicitud.EsquemasPago != null && solicitud.EsquemasPago.descripcion.Trim().Equals("SyS"))
                        {
                            <td>
                                @Html.Label(Language.nss + ":")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.nss, new { htmlAttributes = new { @onchange = "javascript:validarNss(this.value);" } })
                                @Html.ValidationMessageFor(model => model.nss, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.Label(Language.fechaAltaImss + ":")
                            </td>
                            <td>
                                @Html.EditorFor(model => model.fechaAltaImss, new { htmlAttributes = new { @class = "myImmsDate" } })
                                @Html.ValidationMessageFor(model => model.fechaAltaImss, "", new { @class = "text-danger" })
                            </td>
                        }
                    </tr>

                    <tr>
                        <td style="padding-top:8px">@Html.Label(Language.apellidoPaterno + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.apellidoPaterno)
                            @Html.ValidationMessageFor(model => model.apellidoPaterno, "", new { @class = "text-danger" })
                        </td>
                        <td style="padding-top:8px">
                            @Html.Label(Language.apellidoMaterno + ":")
                        </td>
                        <td>
                            @Html.EditorFor(model => model.apellidoMaterno)
                            @Html.ValidationMessageFor(model => model.apellidoMaterno, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>
                            @Html.Label(Language.nombre + ":")
                        </td>
                        <td>
                            @Html.EditorFor(model => model.nombre)
                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.rfc + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.rfc)
                            @Html.ValidationMessageFor(model => model.rfc, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.homoClave + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.homoclave)
                            @Html.ValidationMessageFor(model => model.homoclave, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.curp + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.curp)
                            @Html.ValidationMessageFor(model => model.curp, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.sexo + ":")</td>
                        <td>
                            @Html.DropDownList("sexoId")
                            @Html.ValidationMessageFor(model => model.sexoId, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.esquema + ":")</td>
                        <td>
                            @Html.DisplayFor(model => model.EsquemasPago.descripcion, new { @Id = "esquemaPago" })
                        </td>
                        @if (!Model.EsquemasPago.descripcion.Trim().Equals("IAS"))
                        {
                            <td>@Html.Label(Language.sdi + ":")</td>
                            <td>
                               $ @Html.DisplayFor(model => model.SDI.descripcion)
                            </td>
                        }

                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.salarioReal + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.salarioReal)
                            @Html.ValidationMessageFor(model => model.salarioReal, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.categoria + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @id = "categoriaAuto" } })
                            @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.regInfonavit + ":")</td>
                        <td>
                            @Html.Label("Si")
                            @Html.RadioButtonFor(model => model.tieneInfonavit, "1", new { htmlAttributes = new { @class = "form-control", name = "tieneInfonavit" } })
                            @Html.Label("No")
                            @Html.RadioButtonFor(model => model.tieneInfonavit, "0", new { htmlAttributes = new { @class = "form-control", name = "tieneInfonavit" } })
                            @Html.ValidationMessageFor(model => model.tieneInfonavit, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.estadoCivil + ":")</td>
                        <td>
                            @if (editMode)
                            {
                                @Html.DropDownList("estadoCivilId")
                                @Html.ValidationMessageFor(model => model.estadoCivilId, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.EstadoCivil.descripcion)
                            }
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.noCredito + ":", htmlAttributes: new { id = "creditoInfonavitTxt" })</td>
                        <td>
                            @Html.EditorFor(model => model.creditoInfonavit, new {htmlAttributes = new { id = "creditoInfonavit" }})
                            @Html.ValidationMessageFor(model => model.creditoInfonavit, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.Label(Language.fechaNacimiento + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.fechaNacimiento, new { htmlAttributes = new { @class = "myBornDate" } })
                            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.nacionalidad + ":")</td>
                        <td>
                            @if (editMode)
                            {
                                @Html.paisesDrownList(usuario.Id, "nacionalidadId")
                                @Html.ValidationMessageFor(model => model.nacionalidadId, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Pais.descripcion)
                            }
                        </td>

                        <td>@Html.Label(Language.estadoNacimiento + ":", htmlAttributes: new { id = "estadoIdTxt" })</td>
                        <td>
                            @if (editMode)
                            {
                                @Html.DropDownList("estadoNacimientoId", null, new { @id = "estadoId", @style = "width:200px;", @onchange = "javascript:obtenerMunicipios(this.value);" })
                                @Html.ValidationMessageFor(model => model.estadoNacimientoId, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Estado.descripcion)
                            }
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.municipioNacimiento + ":", htmlAttributes: new { id = "municipioIdTxt" })</td>
                        <td>
                            @if (editMode)
                            {
                         
                                       @Html.DropDownList("municipioNacimientoId", null, htmlAttributes: new { id = "municipioId" })
                                @Html.ValidationMessageFor(model => model.municipioNacimientoId, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Municipio.descripcion)
                            }
                        </td>

                        <td>@Html.Label(Language.calleNumero + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.calleNumero)
                            @Html.ValidationMessageFor(model => model.calleNumero, "", new { @class = "text-danger" })
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.Colonia + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.colonia)
                            @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                        </td>

                        <td>@Html.Label(Language.estado + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.edoMunicipio)
                            @Html.ValidationMessageFor(model => model.edoMunicipio, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.CP + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.codigoPostal )
                            @Html.ValidationMessageFor(model => model.codigoPostal, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.tramitarTrajeta + "?:", htmlAttributes: new {id = "tramitarTarjetaTxt" })</td>
                        <td>
                            @Html.Label("Si")
                            @Html.RadioButtonFor(model => model.tramitarTarjeta, "1", new { htmlAttributes = new { @class = "form-control", name = "tramitarTarjeta" } })
                            @Html.Label("No")
                            @Html.RadioButtonFor(model => model.tramitarTarjeta, "0", new { htmlAttributes = new { @class = "form-control", name = "tramitarTarjeta" } })
                            @Html.ValidationMessageFor(model => model.tramitarTarjeta, "", new { @class = "text-danger" })

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.banco + ":")</td>
                        <td>
                            @if (editMode)
                            {
                                @Html.DropDownList("bancoId")
                                @Html.ValidationMessageFor(model => model.bancoId, "", new { @class = "text-danger" })
                            }
                            else
                            {
                                @Html.DisplayFor(model => model.Banco.descripcion)
                            }
                        </td>

                        <td>@Html.Label(Language.cuentaBancaria + ":", htmlAttributes: new { id = "cuentaTxt" })</td>
                        <td>
                            @Html.EditorFor(model => model.cuentaBancaria, new { htmlAttributes = new { id = "cuenta" } })
                            @Html.ValidationMessageFor(model => model.cuentaBancaria, "", new { @class = "text-danger" })
                        </td>
                        <td>@Html.Label(Language.cuentaClabe + ":", htmlAttributes: new { id = "cuentaClabeTxt" })</td>
                        <td>
                            @Html.EditorFor(model => model.cuentaClabe, new { htmlAttributes = new { id = "cuentaClabe" } })
                            @Html.ValidationMessageFor(model => model.cuentaClabe, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.email + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.email)
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.observaciones + ":")</td>
                        <td>
                            @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                        </td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left;"><input type="submit" value="@Language.agregar" class="btn btn-primary" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}


<div>
    @Html.ActionLink(Language.regresar, "Index")
</div>

<script>
    $(window).load(function () {
        
        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });
    $(document).ready(function () {

        $("#categoriaAuto").autocomplete({
            source: '/Empleados/obtenerCategorias'
        });

        $("input[name=tieneInfonavit]").change(function () {
            var msg = $(this).val();
            validateInfonavit(msg);
        });

        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });

    function validateCuenta(msg) {
        if (msg == '1') {
            $("#cuenta").hide("slow");
            $('#cuentaTxt').hide("slow");
            $("#cuentaClabe").hide("slow");
            $('#cuentaClabeTxt').hide("slow");
        } else {
            $(window).load(function () {
                // Run code
            });
            $("#cuenta").show();
            $('#cuentaTxt').show();
            $("#cuentaClabe").show();
            $('#cuentaClabeTxt').show();
        }
    }

    function validateInfonavit(msg) {
        if (msg == '0') {
            $("#creditoInfonavit").hide("slow");
            $('#creditoInfonavitTxt').hide("slow");
        } else {
            $(window).load(function () {
                // Run code
            });
            $("#creditoInfonavit").show();
            $('#creditoInfonavitTxt').show();
        }
    }

    function validatePais() {
        var msg = $("#paisId :selected").text();
        if (msg.toLowerCase() != 'mexico' && msg.toLowerCase() != 'méxico') {
            $("#municipioId").hide("slow");
            $("#municipioIdTxt").hide("slow");
            $('#estadoId').hide("slow");
            $('#estadoIdTxt').hide("slow");
        } else {
            $("#municipioId").show();
            $("#municipioIdTxt").show();
            $('#estadoId').show();
            $('#estadoIdTxt').show();
        }
    }
</script>
