@model SUADATOS.Empleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <div>Ver empleado : @Html.DisplayFor(model => model.nombreCompleto)<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<div id="tabs" style="font-size:10px;">
    <ul>
        <li><a href="#tabs-1">Generales</a></li>
        <li><a href="#tabs-2">Documentos</a></li>
        <li><a href="#tabs-3">Salariales</a></li>
        <li><a href="#tabs-4">SUA</a></li>
    </ul>
    <div id="tabs-1" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label(Language.cliente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Cliente.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.proyecto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Proyecto.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.plaza)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Plaza.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.apellidoPaterno)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.apellidoPaterno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.apellidoMaterno)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.apellidoMaterno)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.nombre)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.nss)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.nss)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.categoria)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.categoria)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fechaCreacion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaCreacion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fechaBaja)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaBaja)
                </dd>
                <dt>
                    @Html.Label(Language.sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.rfc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.rfc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.homoclave)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.homoclave)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.curp)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.curp)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fechaNacimiento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaNacimiento)
                </dd>
                <dt>
                    @Html.Label(Language.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.municipio)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Municipio.descripcion)
                </dd>

                <dt>
                    @Html.Label(Language.pais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pais.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.foto" width="120" height="130" />

                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
    </div>
    <div id="tabs-2" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.calleNumero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.calleNumero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.colonia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.colonia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.edoMunicipio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.edoMunicipio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.codigoPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoPostal)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
    </div>
    <div id="tabs-3" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SDI.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDI.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.salarioReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.salarioReal)
                </dd>
                <dt>
                    @Html.Label(Language.bancos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Banco.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.creditoInfonavit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.creditoInfonavit)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
    </div>
    <div id="tabs-4" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("SDI")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.sdi)
                </dd>
                <dt>
                    @Html.Label("Sal. Diario IMMS")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.sd)
                </dd>
                <dt>
                    @Html.Label("Registro Patronal")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.Patrone.registro)
                </dd>
                <dt>
                    @Html.Label("Nombre Patron")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.Patrone.nombre)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink(Language.regresar, "Index")
</p>
