@model SUADATOS.Empleado
@using SUADATOS
@using SUAMVC.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario usuario = Session["UsuarioData"] as Usuario;
}

@section Menu {
    <div>Ver empleado : @Html.DisplayFor(model => model.nombreCompleto)<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}
<div id="tabs" style="font-size:10px;">
    <ul>
        <li><a href="#tabs-1">Generales</a></li>
        <li><a href="#tabs-2">Documentos</a></li>
        <li><a href="#tabs-3">Salariales</a></li>
        <li><a href="#tabs-4">SUA</a></li>
    </ul>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="tabs-1" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label(Language.cliente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Cliente.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.proyecto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Proyecto.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.plaza)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Solicitud.Plaza.descripcion)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.apellidoPaterno)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.apellidoPaterno)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.apellidoMaterno)
                </dt>
                <dd>
                    @Html.EditorFor(model => model.apellidoMaterno)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.nombre)
                </dt>
                <dd>
                    @Html.EditorFor(model => model.nombre)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.nss)
                </dt>
                <dd>
                    @Html.EditorFor(model => model.nss)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.categoria)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.categoria)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.fechaAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaCreacion)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.fechaBaja)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.fechaBaja, new { @class = "myDate" })
                </dd>
                <dt>
                    @Html.Label(Language.sexo)
                </dt>

                <dd>
                    @Html.sexosDrownList(usuario.Id)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.rfc)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.rfc)
                </dd>

                <dt>
                    @Html.DisplayName(@Language.homoClave)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.homoclave)
                </dd>

                <dt>
                    @Html.DisplayName(@Language.curp)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.curp)
                </dd>
                <dt>
                    @Html.DisplayName(@Language.fechaNacimiento)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.fechaNacimiento)
                </dd>
                <dt>
                    @Html.Label(Language.estado)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Estado.descripcion)
                </dd>
                <dt>
                    @Html.Label(Language.municipio)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Municipio.descripcion)
                </dd>

                <dt>
                    @Html.Label(Language.pais)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pais.descripcion)
                </dd>
                <dt>
                    @Html.DisplayName(Language.email)
                </dt>

                <dd>
                    @Html.EditorFor(model => model.email)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.foto" width="120" height="130" />

                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
                
            </div>
        </div>
    </div>
    <div id="tabs-2" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.calleNumero)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.calleNumero)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.colonia)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.colonia)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.edoMunicipio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.edoMunicipio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.codigoPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.codigoPostal)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
                <a href="@Url.Action("Index", "ArchivosEmpleados", new { id = Model.id })"><img src="~/Content/Images/cv.png" alt="" style="border:none;" class="icon" /></a>
                <a href="@Url.Action("Index", "ArchivosEmpleados", new { id = Model.id })"><img src="~/Content/Images/brain.png" alt="" style="border:none;" class="icon" /></a>
                <a href="@Url.Action("Index", "ArchivosEmpleados", new { id = Model.id })"><img src="~/Content/Images/cv.png" alt="" style="border:none;" class="icon" /></a>
                <a href="@Url.Action("Index", "ArchivosEmpleados", new { id = Model.id })"><img src="~/Content/Images/cv.png" alt="" style="border:none;" class="icon" /></a>
                <a href="@Url.Action("Index", "ArchivosEmpleados", new { id = Model.id })"><img src="~/Content/Images/cv.png" alt="" style="border:none;" class="icon" /></a>

            </div>
        </div>
    </div>
    <div id="tabs-3" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SDI.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDI.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.salarioReal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.salarioReal)
                </dd>
                <dt>
                    @Html.Label(Language.bancos)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Banco.descripcion)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.creditoInfonavit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.creditoInfonavit)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
    </div>
    <div id="tabs-4" style="overflow:hidden; min-height:401px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt>
                    @Html.Label("SDI")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.sdi)
                </dd>
                <dt>
                    @Html.Label("Sal. Diario IMMS")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.sd)
                </dd>
                <dt>
                    @Html.Label("Registro Patronal")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.Patrone.registro)
                </dd>
                <dt>
                    @Html.Label("Nombre Patron")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Acreditado.Patrone.nombre)
                </dd>
            </dl>
        </div>
        <div class="right-Marquee">
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(Model.foto))
                {
                    <img src="@Url.Content(Model.foto.Trim())" alt="@Model.nombre" width="120" height="130" />
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>
        </div>
        <input name="Guadar" type="submit" />
    </div>
}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
