@model SUAMVC.Models.DatosEmpleadoModel
@using SUADATOS
@using SUAMVC.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario usuario = Session["UsuarioData"] as Usuario;

    String foto = Model.empleado.foto;
}

@section Menu {
    <div>Ver empleado : @Html.DisplayFor(model => model.empleado.nombreCompleto)<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<script language="javascript" type="text/javascript">
    function obtenerMunicipios(_estadoId) {
        var procemessage = "<option value='0'> Por favor espere...</option>";
        $("#municipioId").html(procemessage).show();
        var url = "/Municipios/ObtenerMunicipiosPorId/";

        $.ajax({
            url: url,
            data: { estadoId: _estadoId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccione municipio</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#municipioId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }

    function validarNss(_nss) {

        var url = "/Empleados/validarNss/";

        $.ajax({
            url: url,
            data: { nss: _nss },
            cache: false,
            type: "POST",
            success: function (data) {

            },
            error: function (response) {
                alert("Error :" + response);
            }
        });
    }
</script>

<div id="tabs" style="font-size:10px; padding-top:8px">
    <ul>
        <li><a href="#tabs-1">Generales</a></li>
        <li><a href="#tabs-2">Documentos</a></li>
        <li><a href="#tabs-3">Salariales</a></li>
        <li><a href="#tabs-4">SUA</a></li>
    </ul>

    <!-- Pestaña numero 1 datos personales -->
    <div id="tabs-1" style="overflow:hidden; min-height:600px">
        @using (Html.BeginForm("Edit", "Empleados"))
        {
            @Html.HiddenFor(model => model.empleado.id)
            @Html.AntiForgeryToken()
            <div class="left-Marquee">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.Label(Language.cliente):
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Cliente.descripcion)
                    </dd>
                    <dt>
                        @Html.Label(Language.proyecto):
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Proyecto.descripcion)
                    </dd>
                    <dt>
                        @Html.Label(Language.plaza):
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.solicitud.Plaza.descripcion)
                    </dd>
                    <dt>
                        @Html.DisplayName(@Language.apellidoPaterno):
                    </dt>

                    <dd>
                        @Html.EditorFor(model => model.empleado.apellidoPaterno)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.apellidoMaterno):
                    </dt>
                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.apellidoMaterno)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.nombre):
                    </dt>
                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.nombre)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.nss):
                    </dt>
                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.nss)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.categoria):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.categoria)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.fechaAlta):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.DisplayFor(model => model.empleado.fechaCreacion, "Date")
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.fechaBaja):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.fechaBaja, new { htmlAttributes = new { @class = "myDate" } })
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(Language.sexo):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.sexosDrownList(usuario.Id)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.rfc):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.rfc)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.homoClave):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.homoclave)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.curp):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.curp)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayName(@Language.fechaNacimiento):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.fechaNacimiento, new { htmlAttributes = new { @class = "myBornDate" } })
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(Language.estado):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.DropDownList("estadoNacimientoId", null, new { @id = "estadoId", @style = "width:140px;", @onchange = "javascript:obtenerMunicipios(this.value);" })
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(Language.municipio):
                    </dt>
                    <dd style="padding-top:8px">
                        @Html.DropDownList("municipioNacimientoId", null, htmlAttributes: new { id = "municipioId" })
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.Label(Language.pais):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.paisesDrownList(usuario.Id, "nacionalidadId")
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(Language.email):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.email)
                    </dd>
                    <dt style="padding-top:8px">@Html.Label(Language.observaciones):</dt>
                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.empleado.observaciones, "", new { @class = "text-danger" })
                    </dd>
                    <dt style="margin-top:30px;">
                        <a href="@Url.Action("Index", "Empleados")">
                            <p><img src="~/Content/Images/back.png" alt="" style="border:none;float:left;clear:both; " class="icon" />@Language.regresar</p>
                        </a>
                    </dt>
                    <dd style="margin-top:30px;"><input name="Guadar" type="submit" value="@Language.guardar" class="btn btn-success" /></dd>
                </dl>
            </div>
            <!-- marquesina de la derecha -->
            <div class="right-Marquee">
                <!-- Marquesina para la foto -->
                <div class="foto-Marquee">
                    @if (!String.IsNullOrEmpty(foto))
                    {
                        <a href="@Url.Action("SubirFoto", "Empleados" , new { empleadoid=Model.empleado.id })"
                           title="Subir Fotografia">
                            <img src="@Url.Action("MyFoto", "Empleados", new{ foto = Model.empleado.foto.Trim()})" alt="@Model.empleado.foto" width="120" height="130" />
                        </a>
                    }
                    else
                    {
                        <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                    }
                </div>
            </div>

        }
    </div>
    <!-- Pestaña numero 2 datos documentos -->
    <div id="tabs-2" style="overflow:hidden; min-height:600px;">
        @using (Html.BeginForm("GuardarDocumentos", "Empleados"))
        {
            @Html.HiddenFor(model => model.empleado.id)
            @Html.AntiForgeryToken()
            <div class="left-Marquee">
                <dl class="dl-horizontal">
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.calleNumero):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.calleNumero)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.Label(@Language.Colonia):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.colonia)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.Label(@Language.estado):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.edoMunicipio)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.Label(@Language.CP):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.codigoPostal)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.actividadPrincipal):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.TextAreaFor(model => model.datosEmpleado.actividades, new { @class = "form-control", rows = 4 })
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.domicilioOficina):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.domicilioOficina)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.fechaAntiguedad):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.fechaAntiguedad, new { htmlAttributes = new { @class = "myBornDate" } })
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.salarioVSM):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.salarioVSM)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.jornadaLaboral):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.conceptosDrownList(usuario.Id, "JORNALAB", "jornadaLaboralId")
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.diasDescanso):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.diasDescanso)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.salarioNominal):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.salarioNominal)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.diasVacaciones):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.diasVacaciones)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.diasAguinaldo):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.diasAguinaldo)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.otros):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.otros)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.telefono):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.telefono)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.tipoSangre):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.datosEmpleado.tipoSangre)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.datosFamiliares):
                    </dt>

                    <dd style="padding-top:8px">
                        <a href="@Url.Action("create", "FamiliaresEmpleados" , new { empleadoid=Model.empleado.id })"
                           title="Cargar Documentos">
                            <img src="~/Content/Images/people-b.png" alt="" style="border:none;" class="icon" />
                        </a>
                        <a href="@Url.Action("index", "FamiliaresEmpleados" , new { empleadoid=Model.empleado.id })"
                           title="Cargar Documentos">
                            <img src="~/Content/Images/fileSearch.png" alt="" style="border:none;" class="icon" />
                        </a>
                    </dd>
                    <dt style="margin-top:30px;">
                        <a href="@Url.Action("Index", "Empleados")">
                            <p><img src="~/Content/Images/back.png" alt="" style="border:none;float:left;clear:both; " class="icon" />@Language.regresar</p>
                        </a>
                    </dt>
                    <dd style="margin-top:30px;"><input name="Guadar" type="submit" value="@Language.guardar" class="btn btn-success" /></dd>
                </dl>
            </div>
            <!-- marquesina de la derecha -->
            <div class="right-Marquee">
                <!-- Marquesina para la foto -->
                <div class="foto-Marquee">
                    @if (!String.IsNullOrEmpty(foto))
                    {
                    <a href="@Url.Action("SubirFoto", "Empleados" , new { empleadoid=Model.empleado.id })"
                       title="Subir Fotografia">
                        <img src="@Url.Action("MyFoto", "Empleados", new{ foto = Model.empleado.foto.Trim()})" alt="@Model.empleado.foto" width="120" height="130" />
                    </a>
                    }
                    else
                    {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                    }
                </div>
                <!-- Marquesina para colocar los documentos -->
                <div class="right-Marquee-inside">
                    <table class="menu-archivos-table">
                        <tr>
                            <td>
                                <a href="@Url.Action("index", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id, tipo = "cv" })"
                                   title="Ver documentos">
                                    <img src="~/Content/Images/cv.png" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>Documentos CV</td>
                            <td>
                                @ViewBag.docsCv
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("index", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id, tipo = "Documentos V" })"
                                   title="Ver documentos">
                                    <img src="~/Content/Images/pdf.gif" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>Documentos Varios</td>
                            <td>
                                @ViewBag.docsVarios
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("index", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id, tipo = "Contratos" })"
                                   title="Ver documentos">
                                    <img src="~/Content/Images/report.png" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>Documentos Contratos</td>
                            <td>
                                @ViewBag.docsContratos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("index", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id, tipo = "Psicometrico" })"
                                   title="Ver documentos">
                                    <img src="~/Content/Images/history.png" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>Documentos Psicometricos</td>
                            <td>
                                @ViewBag.docsPsicometricos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("index", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id, tipo = "Confidencial" })"
                                   title="Ver documentos">
                                    <img src="~/Content/Images/people-b.png" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>Documentos Confidenciales</td>
                            <td>
                                @ViewBag.docsConfidencial
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="@Url.Action("create", "ArchivoEmpleados" , new { empleadoid=Model.empleado.id })" id="cargarLink"
                                   title="Cargar Documentos">
                                    <img src="~/Content/Images/upload-blue.png" alt="" style="border:none;" class="icon" />
                                </a>
                            </td>
                            <td>
                                <p>@Language.agregar Documentos</p>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        }
    </div>
    <!-- Pestaña numero 3 datos salariales -->
    <div id="tabs-3" style="overflow:hidden; min-height:470px;">
        @using (Html.BeginForm("GuardarSalariales", "Empleados"))
        {
            @Html.HiddenFor(model => model.empleado.id)
            @Html.AntiForgeryToken()
            <div class="left-Marquee">
                <dl class="dl-horizontal">
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.sdi):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.DisplayFor(model => model.empleado.SDI.descripcion)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.salarioReal):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.salarioReal)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.salarioMensual):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.salarioMensual)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.DisplayNameFor(model => model.salarialesEmpleado.salarioHrsExtra):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.salarioHrsExtra)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(Language.numeroCuenta):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.cuentasPorEmpleadoDrownList(usuario.Id, "bancoId")
                        <a href="@Url.Action("index", "CuentaEmpleados" , new { empleadoid=Model.empleado.id })"
                           title="Agregar Cuentas">
                            <img src="~/Content/Images/bank.png" alt="" style="border:none;" class="icon" />
                        </a>
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.noCredito):
                    </dt>

                    <dd style ="padding-top:8px">
                        @Html.EditorFor(model => model.empleado.creditoInfonavit)
                    </dd>

                    <dt style="padding-top:8px">
                        @Html.Label(@Language.montoInfonavit):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.montoInfonavit)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.importeFonacot):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.importeFonacot)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.porcientoPension):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.porcientoPension)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.importePension):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.EditorFor(model => model.salarialesEmpleado.importePension)
                    </dd>
                    <dt style="padding-top:8px">
                        @Html.Label(@Language.periodo):
                    </dt>

                    <dd style="padding-top:8px">
                        @Html.conceptosDrownList(usuario.Id, "PERISAL", "periodoId")
                    </dd>
                    <dt style="margin-top:100px;">
                        <a href="@Url.Action("Index", "Empleados")">
                            <p><img src="~/Content/Images/back.png" alt="" style="border:none;float:left;clear:both; " class="icon" />@Language.regresar</p>
                        </a>
                    </dt>
                    <dd style="margin-top:100px;"><input name="Guadar" type="submit" value="@Language.guardar" class="btn btn-success" /></dd>

                </dl>
            </div>
        <!-- marquesina de la derecha -->
            <div class="right-Marquee">
                <!-- Marquesina para la foto -->
                <div class="foto-Marquee">
                    @if (!String.IsNullOrEmpty(foto))
                {
                    <a href="@Url.Action("SubirFoto", "Empleados" , new { empleadoid=Model.empleado.id })"
                       title="Subir Fotografia">
                        <img src="@Url.Action("MyFoto", "Empleados", new{ foto = Model.empleado.foto.Trim()})" alt="@Model.empleado.foto" width="120" height="130" />
                    </a>
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
                </div>

            </div>
        }
    </div>
    <!-- Pestaña numero 4 datos del SUA -->
    <div id="tabs-4" style="overflow:hidden; min-height:470px;">
        <div class="left-Marquee">
            <dl class="dl-horizontal">
                <dt style="padding-top:8px">
                    @Html.Label("SDI"):
                </dt>

                <dd style="padding-top:8px">
                    @Html.DisplayFor(model => model.empleado.Asegurado.salarioDiario)
                </dd>
                <dt style="padding-top:8px">
                    @Html.Label("Sal. Diario IMMS"):
                </dt>

                <dd style="padding-top:8px">
                    @Html.DisplayFor(model => model.empleado.Asegurado.salarioDiario)
                </dd>
                <dt style="padding-top:8px">
                    @Html.Label("Registro Patronal"):
                </dt>

                <dd style="padding-top:8px">
                    @Html.DisplayFor(model => model.empleado.Asegurado.Patrone.registro)
                </dd>
                <dt style="padding-top:8px">
                    @Html.Label("Nombre Patron"):
                </dt>

                <dd style="padding-top:8px">
                    @Html.DisplayFor(model => model.empleado.Asegurado.Patrone.nombre)
                </dd>
            </dl>
        </div>
        <!-- marquesina de la derecha -->
        <div class="right-Marquee">
            <!-- Marquesina para la foto -->
            <div class="foto-Marquee">
                @if (!String.IsNullOrEmpty(foto))
                {
                    <a href="@Url.Action("SubirFoto", "Empleados" , new { empleadoid=Model.empleado.id })"
                       title="Subir Fotografia">
                        <img src="@Url.Action("MyFoto", "Empleados", new{ foto = Model.empleado.foto.Trim()})" alt="@Model.empleado.foto" width="120" height="130" />
                    </a>
                }
                else
                {
                    <img src="~/Content/Images/camera.png" alt="NoFoto" width="120" height="130" />
                }
            </div>

        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
        //attach with the id od deductions
        $("#cargarArchivo").hide("slow");
        $("#cargarLink").bind("click", showDialog);

    });

    function showDialog() {
        $("#cargarArchivo").show("slow");
        $("#documentoId").val = "DOC";
    }
</script>

<script>
    $(window).load(function () {

        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });
    $(document).ready(function () {

        $("#categoriaAuto").autocomplete({
            source: '/Empleados/obtenerCategorias'
        });

        $("input[name=tieneInfonavit]").change(function () {
            var msg = $(this).val();
            validateInfonavit(msg);
        });

        $("input[name=tramitarTarjeta]").change(function () {
            var msg = $(this).val();
            validateCuenta(msg);
        });

        $("#paisId").bind("change", validatePais);
    });

    function validateCuenta(msg) {
        if (msg == '1') {
            $("#cuenta").hide("slow");
            $('#cuentaTxt').hide("slow");
            $("#cuentaClabe").hide("slow");
            $("#cuentaClabeTxt").hide("slow");
        } else {
            $(window).load(function () {
                // Run code
            });
            $("#cuenta").show();
            $('#cuentaTxt').show();
            $("#cuentaClabe").show();
            $("#cuentaClabeTxt").show();
        }
    }

    function validateInfonavit(msg) {
        if (msg == '0') {
            $("#creditoInfonavit").hide("slow");
            $('#creditoInfonavitTxt').hide("slow");
        } else {
            $(window).load(function () {
                // Run code
            });
            $("#creditoInfonavit").show();
            $('#creditoInfonavitTxt').show();
        }
    }

    function validatePais() {
        var msg = $("#paisId :selected").text();
        if (msg.toLowerCase() != 'mexico' && msg.toLowerCase() != 'méxico') {
            $("#municipioId").hide("slow");
            $("#municipioIdTxt").hide("slow");
            $('#estadoId').hide("slow");
            $('#estadoIdTxt').hide("slow");
        } else {
            $("#municipioId").show();
            $("#municipioIdTxt").show();
            $('#estadoId').show();
            $('#estadoIdTxt').show();
        }
    }
</script>
