@model SUADATOS.Empleado
@using SUADATOS
@using SUAMVC.Models
@{
    ViewBag.Title = "SubirFoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    var message = @TempData["viewMessage"];
    var isError = TempData["error"];
    Usuario usuario = Session["UsuarioData"] as Usuario;
    int empleadoId = Model.id;
}

@section Menu {
    <div>Empleados - Actualizar fotografía <img src="~/Content/Images/home.png" width="15" height="15" /></div>
}




<div class="panel panel-primary">
    <div class="panel-heading">
        Seleccionar la fotografía que desea subir
    </div>
    <div class="panel-body">
        @using (@Html.BeginForm("GuardarFoto", "Empleados", FormMethod.Post, 
            new { enctype = "multipart/form-data"}))
        {
            @Html.HiddenFor(model => model.id)
            <div class="marqueeFilter" style="min-height:110px">
                <table style="float:left; margin-top:5px;display:inline-block;">
                    <tbody>
                        <tr>
                            <td style="padding-top:10px; padding-bottom:20px">@Html.Label("Empleado :")</td>
                            <td style="padding-top:10px; padding-left:10px; padding-bottom:20px">@Html.DisplayFor(model => model.nombreCompleto)</td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div class="file">
                                    @FileUpload.GetHtml(initialNumberOfFiles: 1,
                allowMoreFilesToBeAdded: false,
                includeFormTag: true,
                uploadText: "Subir Fotografia")
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    <div style="padding-bottom:15px">
        @Html.ActionLink("Regresar", "Edit", new { id = empleadoId, clienteId = ViewBag.clienteId, proyectoId = ViewBag.proyectoId, solicitudId = "0" })
    </div>
        }
    </div>
    @if (isError != null)
    {
        if (isError.Equals(false))
        {
            <p><span class="label label-success">@message</span></p>
        }
        else
        {
            <p><span class="label label-danger">@message</span></p>
        }
    }
</div>


