@model SUADATOS.Cliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div>@Language.catde Clientes <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        ¿Desea borrar este registro?
    </div>
    <div class="panel-body" style="font-size:10px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName(@Language.claveCliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.claveCliente)
            </dd>

            <dt>
                @Html.DisplayName(@Language.claveSua)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.claveSua)
            </dd>

            <dt>
                @Html.DisplayName(@Language.rfc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rfc)
            </dd>

            <dt>
                @Html.DisplayName(@Language.descripcion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt>
                @Html.DisplayName(@Language.direccionFiscal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccionFiscal)
            </dd>

            <dt>
                @Html.DisplayName(@Language.contacto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contacto)
            </dd>

            <dt>
                @Html.DisplayName(@Language.telefono)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.telefono)
            </dd>

            <dt>
                @Html.DisplayName(@Language.direccionOficina)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.direccionOficina)
            </dd>
            <dt>
                @Html.DisplayName(@Language.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                @Html.DisplayName(@Language.actividadPrincipal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.actividadPrincipal)
            </dd>

            <dt>
                @Html.DisplayName(@Language.fechaAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaContratacion)
            </dd>

            <dt>
                @Html.DisplayName(@Language.fechaAlta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaContratacion)
            </dd>

            <dt>
                @Html.DisplayName(@Language.empresaFacturadora)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.empresaFacturadoraId)
            </dd>

            <dt>
                @Html.DisplayName(@Language.ejecutivoContador)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ejecutivoContadorId)
            </dd>

            <dt>
                @Html.DisplayName(@Language.plaza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Plaza_id)
            </dd>

            <dt>
                @Html.DisplayName(@Language.plaza)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Plaza_id)
            </dd>

            <dt>
                @Html.DisplayName(@Language.grupo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Grupo_id)
            </dd>

            <dt>
                @Html.DisplayName(@Language.numeroCuenta)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numeroCuenta)
            </dd>

            <dt>
                @Html.DisplayName(@Language.tipoServicio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipoServicioId)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-group" style="margin-top:40px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Language.borrar" class="btn btn-primary" />
        </div>
    </div>
        }

        <div>
            @Html.ActionLink(@Language.regresar, "Index")
        </div>
          
