@model IEnumerable<SUADATOS.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
}

@section Menu {
    <div>Catalogo de Clientes <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>

@grid.GetHtml(
    columns:
        grid.Columns(
            grid.Column("claveCliente", "Clave Cliente", null, null, true),
            grid.Column("claveSUA", "Clave SUA", null, null, true),
            grid.Column("rfc", "RFC", null, null, true),
            grid.Column("descripcion", "Descripción", null, null, true),
            grid.Column("Plaza.descripcion", "Plaza", null, null, true),
            grid.Column("Grupos.nombreCorto", "Grupo", null, null, true),
            
            grid.Column("ejecutivo", "Ejecutivo", null, null, true),
            grid.Column(header: "Detalle", format: @<text><a href="@Url.Action("Details", "Clientes", new { id = item.id })">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
                </a></text>),
            grid.Column(header: "Editar", format: @<text><a href="@Url.Action("Edit", "Clientes", new { id = item.id })">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
                </a></text>),
            grid.Column(header: "Borrar", format: @<text><a href="@Url.Action("Delete", "Clientes", new { id = item.id })">
                <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
                </a></text>)),
                                    tableStyle: "table table-striped tableSua"
                    )
