@model IEnumerable<SUADATOS.Modulo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" />Catálogo de Módulos</div>
}

<p>
    @Html.ActionLink(@Language.agregar + " " + @Language.modulDes, "Create", "EsquemaPagos", new { @class = "btn btn-success" })
</p>
<table class="table table-striped tableSua">
    <tr>
        <th>
            @Html.DisplayName(@Language.desCorta)
        </th>
        <th>
            @Html.DisplayName(@Language.desLarga)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionCorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionLarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>

        <td>
            <a href="@Url.Action("Edit","modulos", new { id = item.id })" title="@Language.edit">
                <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
            </a>|
            <a href="@Url.Action("Delete", "modulos", new { id = item.id })" title="@Language.borrar">
                <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
            </a>

        </td>
 
    </tr>
}

</table>
