@model SUADATOS.Banco

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Catálogo de Bancos </div>
}
<div class="panel panel-info">
    <div class="panel-heading">
        ¿Desea borrar este registro?
    </div>
    <div class="panel-body" style="font-size:10px;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName(@Language.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayName(@Language.fechaAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaCreacion)
                </dd>

                <dt>
                    @Html.DisplayName(@Language.usuarioAlta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Usuario.nombreUsuario)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-group" style="margin-top:10px;">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </div>
            }
        </div>
    </div>

<div>
    @Html.ActionLink(Language.regresar, "Index")
</div>
        
