@model SUADATOS.Acreditado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}
@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Eliminar Acreditado </div>
}
<div class="panel panel-info">
    <div class="panel-heading">
        ¿Desea borrar este registro?
    </div>
    <div class="panel-body" style="font-size:10px;">
        <dl class="dl-horizontal">
            <dt>
                @Html.Label(@Language.registroPatronal):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patrone.registro)
            </dd>

            <dt>
                @Html.Label(@Language.noAfiliacion):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numeroAfiliacion)
            </dd>

            <dt>
                @Html.Label(@Language.curp):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CURP)
            </dd>

            <dt>
                @Html.Label(@Language.rfc):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RFC)
            </dd>

            <dt>
                @Html.Label(@Language.nombre):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombreCompleto)
            </dd>

            <dt>
                @Html.Label(@Language.fechaAlta):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaAlta)
            </dd>

            <dt>
                @Html.Label(@Language.fechaBaja):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaBaja)
            </dd>

            <dt>
                @Html.Label(@Language.salarioDiario):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sdi)
            </dd>


            <dt>
                @Html.Label(@Language.ubicacion):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.descripcion)
            </dd>

            <dt>
                @Html.Label(@Language.grupo):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente.Grupos.nombreCorto)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
