@model IEnumerable<SUADATOS.Parametro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div>Catálogo de Parámetros <img src="~/Content/Images/home.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink(@Language.agregar + " " + @Language.parametro, "Create", "Parametros", new { @class = "btn btn-success" })
</p>

<table class="table table-striped talbeSua" style="font-size:10px; width:100%;">
    <tr>
        <th>
            @Html.DisplayName(@Language.parametroId)
        </th>
        <th>
            @Html.DisplayName(@Language.descripcion)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorMoneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorFecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.parametroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorMoneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorFecha)
            </td>
            <td>
                <a href="@Url.Action("Edit","parametros", new { id = item.id })" title="@Language.edit">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
                </a>|
                <a href="@Url.Action("Delete", "parametros", new { id = item.id })" title="@Language.borrar">
                    <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
                </a>
</td>
        </tr>
    }

</table>
