@model SUADATOS.Funcion

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Catálogo de Funciones </div>
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info" style="font-size:10px;">
        <div class="panel-heading">
            @Language.edit @Language.funciones
        </div>
        <div class="panel-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group">
                @Html.Label(@Language.modulDes, "Módulo ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("moduloId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.moduloId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="margin-top:20px;">
                @Html.Label(@Language.desCorta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcionCorta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcionCorta, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@Language.desLarga, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.descripcionLarga, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcionLarga, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@Language.accion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.accion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.accion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@Language.controlador, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.controlador, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.controlador, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label(@Language.estatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.estatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.estatus, "", new { @class = "text-danger" })
                </div>
            </div>
                       
            <div class="form-group">
                @Html.Label(@Language.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tipo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-top:100px;">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Language.guardar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink(@Language.regresar, "Index")
</div>
