@model IEnumerable<SUADATOS.Funcion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Catálogo de Funciones</div>
}

  

<p>
    @Html.ActionLink(@Language.agregar + " " + @Language.funciones, "Create", "Funcion", new { @class = "btn btn-success" })
</p>

@using (Html.BeginForm())
{
    <div class="marqueeFilter">
        
        <table style="float:left; margin-top:5px;display:inline-block;">
            <thead>
                <tr style="text-align:left;vertical-align:bottom;">
                    <td style="padding-top:15px">
                        @Html.Label("Modulo:")
                        </td>
                    <td style="padding-top:15px">
                        @Html.modulosDrownList()
                    </td>
                    <td style="padding-top:15px">@Html.Label("Tipo:")</td>
                    <td style="padding-top:15px">
                        @Html.DropDownList("tipo", new SelectList(
                  new List<Object>{
                       new { value = "A" , text = "Acción"  },
                       new { value = "M" , text = "Ménu" }},
                  "value",
                  "text",
                   2))
                    </td>
                    <td style="padding-top:15px">
                        <input type="submit" value="" class="rsearch_button" title="@Language.consulta" />
                    </td>
                </tr>
            </thead>
        </table>
    </div>
}
<table class="table table-striped tableSua">
    <tr>
        <th>
            @Html.DisplayName(@Language.desCorta)
        </th>
        <th>
            @Html.DisplayName(@Language.desLarga)
        </th>
        <th>
            @Html.DisplayName(@Language.accion)
        </th>
        <th>
            @Html.DisplayName(@Language.controlador)
        </th>
        <th>
            @Html.DisplayName(@Language.estatus)
        </th>
        <th>
            @Html.DisplayName(@Language.usuarioID)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
        <th>
            @Html.DisplayName(@Language.tipo)
        </th>
        <th>
            @Html.DisplayName(@Language.modulDes)
        </th>
        <th>
            @Html.DisplayName(Language.edit)
            @Html.DisplayName(Language.borrar)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionCorta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcionLarga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.accion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.controlador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuarioId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modulo.descripcionCorta)
        </td>
        <td>
            <a href="@Url.Action("Edit","funciones", new { id = item.id })" title="@Language.edit">
                <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
            </a>|
            <a href="@Url.Action("Delete", "funciones", new { id = item.id })" title="@Language.borrar">
                <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
            </a>
        </td>
    </tr>
}

</table>
