@model IEnumerable<SUADATOS.Grupos>
@using System.Text;
@using SUAMVC.Models
@using SUADATOS;

@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, canPage: false);

    var tableHtml = string.Empty;
    var sb = new StringBuilder();

    if (SecurityUserModel.verificarPermiso("Grupos", "Crear grupo"))
    {
        <p>
            @Html.ActionLink("Crear Grupo", "Create", "Grupos", new { @class = "btn btn-success" })
        </p>
    }
    //Creamos una lista de columnas
    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(grid.Column("claveGrupo", "Clave Grupo", null, null, true));
    gridColumns.Add(grid.Column("nombre", "Nombre", null, null, true));
    gridColumns.Add(grid.Column("nombreCorto", "Nombre Corto", null, null, true));
    gridColumns.Add(grid.Column("Plaza.cveCorta", "Plaza", null, null, true));
    gridColumns.Add(grid.Column("posicion", "Posicion", null, null, true));
    gridColumns.Add(grid.Column("estatus", "Estatus", null, null, true));
    if (SecurityUserModel.verificarPermiso("Grupos", "Editar grupo"))
    {
        gridColumns.Add(grid.Column(header: "Editar", format: @<text><a href="@Url.Action("Edit", "Grupos", new { id = item.id })">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" /></a></text>));
    }
    if (SecurityUserModel.verificarPermiso("Grupos", "Eliminar grupo"))
    {
        gridColumns.Add(grid.Column(header: "Eliminar", format: @<text><a href="@Url.Action("Delete", "Grupos", new { id = item.id })">
                     <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" /></a></text>));
    }

    sb.Append(grid.GetHtml(
        columns: grid.Columns(gridColumns.ToArray()),
                        tableStyle: "table table-striped tableSua"
                    ));

    tableHtml = sb.ToString().Trim();

}

@section Menu {
    <div>@Language.catde @Language.grupo <img src="~/Content/Images/boss.png" width="15" height="15" /></div>
}


@if (!tableHtml.IsEmpty())
{
    @Html.Raw(tableHtml)
}
