@model SUADATOS.SolicitudPrenomina
@using SUADATOS;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;
    String msg = TempData["message"] as String;

    suaEntities db = new suaEntities();

    Cliente cliente = db.Clientes.Find(Model.clienteId);
    Proyecto proyecto = db.Proyectos.Find(Model.proyectoId);
    Plaza plaza = db.Plazas.Find(Model.plazaId);
    
    
}

@section Menu {
    <div>Crear Solicitud Prenomina<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Solicitud
        </div>

        <div class="panel-body" style="font-size:10px">
            <div class="form-horizontal">
                <hr />
                @Html.HiddenFor(model => model.anno)
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table style="font-size:10px; width:400px; ">
                    <tr>
                        <th colspan="1"> </th>
                        <td> @Html.Label(@Language.cliente + ":")</td>
                        <td style="padding-top:4px; padding-left:8px">   @Html.Label(cliente.descripcion, new { style = "width: 200px;" })</td>
                        <th colspan="1"> </th>
                        <td >@Html.Label(@Language.fechaInicio + ":")</td>
                        <td style="padding-top:8px">
                            @Html.EditorFor(model => model.fechaInicial, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-top:12px; padding-left:55px">@Html.Label(@Language.fechaPago + ":")</td>
                        <td style="padding-top:12px">
                            @Html.EditorFor(model => model.fechaPago, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <th colspan="1"> </th>
                        <td>@Html.Label(@Language.proyecto + ":")</td>
                        <td style="padding-top:2px; padding-left:8px">
                            @Html.Label(proyecto.descripcion, new { style = "width: 200px;" })
                        </td>
                        <th colspan="1"> </th>
                        <td style="padding-right:8px; padding-top:8px">@Html.Label(@Language.fechaFinal + ":", new { style = "width: 100px;" })</td>
                        <td style="padding-top:12px">
                            @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-top:8px; padding-left:55px">
                            @Html.Label(@Language.periodo + ":", new { style = "width: 150px;" })
                        </td>
                        <td style="padding-top:8px">
                            @Html.conceptosDrownList(usuario.Id, "PERISAL", "tipoPagoId")
                            @Html.ValidationMessageFor(model => model.tipoPagoId, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <th colspan="1"> </th>
                        <td> @Html.Label(@Language.plaza + ":")</td>
                        <td style="padding-top:2px; padding-left:8px">   @Html.Label(plaza.descripcion)</td>
                        <th colspan="1"> </th>
                        <td style="padding-top:12px"> @Html.Label(@Language.folioCliente + ":")</td>
                        <td style="padding-top:12px">
                            @Html.EditorFor(model => model.folioCliente)
                            @Html.ValidationMessageFor(model => model.folioCliente, "", new { @class = "text-danger" })
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-right:8px; padding-top:8px; padding-left:55px">@Html.Label(@Language.tipoContrato + ":")</td>
                        <td style="padding-top:12px">
                            @Html.contratosDrownList(usuario.Id, "tipoContratoId")
                            @Html.ValidationMessageFor(model => model.tipoContratoId, "", new { @class = "text-danger" })
                        </td>
                   </tr>

                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.tipoPago + ":")</td>
                        <td style="padding-top:12px">
                            @Html.conceptosDrownList(usuario.Id, "PARTIPPAG", "periodoId")
                            @Html.ValidationMessageFor(model => model.periodoId, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.moneda + ":")</td>
                        <td style="padding-top:12px">
                            @Html.conceptosDrownList(usuario.Id, "PARMONED", "monedaId")
                            @Html.ValidationMessageFor(model => model.monedaId, "", new { @class = "text-danger" })
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-right:8px; padding-top:8px; padding-left:55px">@Html.Label(@Language.tipoCambio + ":", htmlAttributes: new { id = "ttipoCambio" }) </td>
                        <td style="padding-top:12px">
                            @Html.EditorFor(model => model.tipoCambio)
                            @Html.ValidationMessageFor(model => model.tipoCambio, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.validador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.valida)
                            @Html.HiddenFor(model => model.valida)
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-right:8px; padding-top:8px; padding-left:55px">@Html.Label(@Language.autorizador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.autoriza)
                            @Html.HiddenFor(model => model.autoriza)
                        </td>
                    </tr>

                    <tr>
                        <th colspan="4"> </th>
                        <td >@Html.Label(@Language.observaciones + ":")</td>
                        <td style="padding-top:12px">
                            @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control", rows = 3, @style = "width: 200px; " })
                            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td style="text-align:right;"><input type="submit" value="@Language.agregar" class="btn btn-primary" /></td>
                    </tr>

                </table>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Language.regresar, "Index")
</div>
<script>
    $(document).ready(function () {
        //attach with the id od deductions
        //$("#noTrabajadores").hide("fast");
        //$("#ttipoCambio").hide("fast");

        $("#monedaId").bind("change", validateExchangeRate);
        $("#tipoCambio").hide();
        $('#ttipoCambio').hide();
    });

    function validateExchangeRate() {
        var msg = $("#monedaId :selected").text();
        
        msg = msg.substring(0, 3);
        if (msg == 'MXN') {
            $("#tipoCambio").hide();
            $('#ttipoCambio').hide();
        } else {
            $("#tipoCambio").show();
            $('#ttipoCambio').show();
        }
    }
    </script>
