@model SUADATOS.SolicitudPrenomina
@using SUADATOS;

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;
    String msg = TempData["message"] as String;

    suaEntities db = new suaEntities();

    Cliente cliente = db.Clientes.Find(Model.clienteId);
    Proyecto proyecto = db.Proyectos.Find(Model.proyectoId);
    Plaza plaza = db.Plazas.Find(Model.plazaId);
    
    
}

@section Menu {
    <div>Crear Solicitud Prenominas<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Solicitud
        </div>

        <div class="panel-body" style="font-size:10px; background-color:#c0c0c2">
            <div class="form-horizontal">
                <hr />
                @Html.HiddenFor(model => model.anno)
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table style="font-size:10px;margin:0 auto; width:700px; ">
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.clienteId, "clienteId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Label(cliente.descripcion)
                                </div>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                @Html.LabelFor(model => model.proyectoId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.Label(proyecto.descripcion)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.plazaId, "plazaId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                   @Html.Label(plaza.descripcion)
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fechaInicial, new { htmlAttributes = new { @class = "myDate"} })
                                    @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "myDate" } })
                                    @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.fechaPago, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fechaPago, new { htmlAttributes = new { @class = "myDate" } })
                                    @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.folioCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.folioCliente)
                                    @Html.ValidationMessageFor(model => model.folioCliente, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                @Html.LabelFor(model => model.tipoPagoId, "tipoPagoId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.conceptosDrownList(usuario.Id, "PERISAL", "tipoPagoId")
                                    @Html.ValidationMessageFor(model => model.tipoPagoId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.periodoId, "periodoId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.conceptosDrownList(usuario.Id, "PARTIPPAG","periodoId")
                                    @Html.ValidationMessageFor(model => model.periodoId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.tipoContratoId, "tipoContratoId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.contratosDrownList(usuario.Id, "tipoContratoId")
                                    @Html.ValidationMessageFor(model => model.tipoContratoId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.monedaId, "monedaId", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.conceptosDrownList(usuario.Id, "PARMONED", "monedaId")
                                    @Html.ValidationMessageFor(model => model.monedaId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.tipoCambio, htmlAttributes: new { @class = "control-label col-md-2", id="ttipoCambio" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.tipoCambio)
                                    @Html.ValidationMessageFor(model => model.tipoCambio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <div class="form-group">
                                @Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    
                </table>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
    $(document).ready(function () {
        //attach with the id od deductions
        //$("#noTrabajadores").hide("fast");
        //$("#ttipoCambio").hide("fast");

        $("#monedaId").bind("change", validateExchangeRate);
    });

    function validateExchangeRate() {
        var msg = $("#monedaId :selected").text();
        
        msg = msg.substring(0, 3);
        if (msg == 'MXN') {
            $("#tipoCambio").hide();
            $('#ttipoCambio').hide();
        } else {
            $("#tipoCambio").show();
            $('#ttipoCambio').show();
        }
    }
    </script>
