@model SUADATOS.SolicitudPrenomina

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <div>Borrar Solicitud Prenominas<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@Html.HiddenFor(model => model.id)
<h3 style="color:red;">Desea borrar la solicitud de prenomina @Html.DisplayFor(model => model.folioSolicitud)</h3>
<div class="menubar-header">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <input type="image" value="Create" src="~/Content/Images/save-floppy.png" class="menuIcon" />
    <a href="@Url.Action("Index", new { clienteId = Model.clienteId, proyectoId = Model.proyectoId,
                plazaId = Model.plazaId, ejercicioId = Model.anno })" style="text-align:right">
        <img src="~/Content/Images/back.png" title="Regresar Prenominas" alt="regresar" style="border:none;" class="menuIcon" />
    </a>
    }
    

    
</div>
<div>
    <div class="panel-body" style="font-size:10px; background-color:#c0c0c2">
        <div class="form-horizontal">
            <table style="width:750px; font-size:10px;">
                <tr>
                    <td>@Html.Label(@Language.cliente + ":")</td>
                    <td>@Html.DisplayFor(model => model.Cliente.descripcion)</td>
                    <td>@Html.Label(@Language.plaza + ":")</td>
                    <td>@Html.DisplayFor(model => model.Plaza.descripcion)</td>
                    <td>@Html.Label(@Language.proyecto + ":")</td>
                    <td>@Html.DisplayFor(model => model.Proyecto.descripcion)</td>

                </tr>
                <tr>
                    <td>@Html.Label("Fecha Solicitud")</td>
                    <td>@Html.DisplayFor(model => model.fechaSolicitud)</td>
                    <td>@Html.Label("Folio Cliente")</td>
                    <td>@Html.DisplayFor(model => model.folioCliente)</td>
                    <td>@Html.Label("Numero Trabajadores")</td>
                    <td>@Html.DisplayFor(model => model.noTrabajadores)</td>
                </tr>

                <tr>
                    <td>@Html.Label(@Language.fechaInicio)</td>
                    <td>@Html.DisplayFor(model => model.fechaInicial)</td>
                    <td>@Html.Label(@Language.fechaFinal)</td>
                    <td>@Html.DisplayFor(model => model.fechaFinal)</td>
                    <td>@Html.Label("Fecha Pago")</td>
                    <td>@Html.DisplayFor(model => model.fechaPago)</td>
                </tr>
                <tr>
                    <td>@Html.Label(@Language.solicita)</td>
                    <td>@Html.DisplayFor(model => model.solicita)</td>
                    <td>@Html.Label(@Language.autorizador)</td>
                    <td>@Html.DisplayFor(model => model.autoriza)</td>
                    <td>@Html.Label(@Language.validador)</td>
                    <td>@Html.DisplayFor(model => model.valida)</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>@Html.Label(@Language.observaciones)</td>
                    <td colspan="2">@Html.DisplayFor(model => model.observaciones)</tdcolspan>
                </tr>
            </table>
        </div>
    </div>

    
</div>
