@model SUADATOS.SolicitudPrenomina
@using SUADATOS;

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    if (!WebSecurity.IsAuthenticated)
        {
            Response.Redirect("~/Home/Index");
        }
        Usuario usuario = Session["UsuarioData"] as Usuario;
        String msg = TempData["message"] as String;

        suaEntities db = new suaEntities();

        Cliente cliente = db.Clientes.Find(Model.clienteId);
        Proyecto proyecto = db.Proyectos.Find(Model.proyectoId);
        Plaza plaza = db.Plazas.Find(Model.plazaId);


}

@section Menu {
    <div>Editar Solicitud Prenominas<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}


@using (Html.BeginForm())
{
    <div class="menubar-header">
        <input type="image" value="Create" src="~/Content/Images/save-floppy.png" class="menuIcon" />

        <a href="@Url.Action("Index", new { clienteId = Model.clienteId, proyectoId = Model.proyectoId,
                plazaId = Model.plazaId, ejercicioId = Model.anno })" style="text-align:right">
            <img src="~/Content/Images/back.png" title="Regresar Prenominas" alt="regresar" style="border:none;" class="menuIcon" />
        </a>
    </div>
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            Capturar Solicitud
        </div>

        <div class="panel-body" style="font-size:10px" >
            <div class="form-horizontal">
                @Html.HiddenFor(model => model.id )
                @Html.HiddenFor(model => model.folioSolicitud)
                @Html.HiddenFor(model => model.anno)
                @Html.HiddenFor(model => model.clienteId)
                @Html.HiddenFor(model => model.proyectoId)
                @Html.HiddenFor(model => model.plazaId)
                @Html.HiddenFor(model => model.autoriza)
                @Html.HiddenFor(model => model.solicita)
                @Html.HiddenFor(model => model.valida)
                @Html.HiddenFor(model => model.usuarioId)
                @Html.HiddenFor(model => model.fechaSolicitud)
                @Html.HiddenFor(model => model.noTrabajadores)

                <table style="font-size:12px;margin:0 auto; width:700px; ">
                    <tr>
                        <td>
                            @Html.Label(@Language.cliente)
                        </td>
                        <td>
                            @Html.Label(cliente.descripcion)
                        </td>
                        <td>

                            @Html.Label(@Language.proyecto)
                        </td>
                        <td>
                            @Html.Label(proyecto.descripcion)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label(@Language.plaza)
                        </td>
                        <td>
                            @Html.Label(plaza.descripcion)
                        </td>
                        <td>
                            @Html.Label("Año:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.anno)
                        </td>
                    </tr>
                    <tr>
                        <td>
                             @Html.Label("Trabajadores:")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.noTrabajadores)
                        </td>
                        <td style="padding-top:8px">
                            @Html.conceptosDrownList(usuario.Id, "PERISAL", "tipoPagoId")
                            @Html.ValidationMessageFor(model => model.tipoPagoId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>

                <hr />


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <table style="font-size:10px;margin:0 auto; width:700px;">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.folioCliente, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                                    @Html.EditorFor(model => model.folioCliente)
                                    @Html.ValidationMessageFor(model => model.folioCliente, "", new { @class = "text-danger" })
                        </td>
                        <td>

                            @Html.LabelFor(model => model.tipoPagoId, "tipoPagoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.conceptosDrownList(usuario.Id, "PERISAL", "tipoPagoId")
                            @Html.ValidationMessageFor(model => model.tipoPagoId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>

                        <td>
                            @Html.LabelFor(model => model.fechaInicial, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.fechaInicial, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })
                        </td>
                        <td>

                            @Html.LabelFor(model => model.fechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>

                        <td>
                            @Html.LabelFor(model => model.fechaPago, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.EditorFor(model => model.fechaPago, new { htmlAttributes = new { @class = "myDate" } })
                            @Html.ValidationMessageFor(model => model.fechaPago, "", new { @class = "text-danger" })
                        </td>
                    </tr>


                    <tr>
                        <td>
                            @Html.LabelFor(model => model.periodoId, "periodoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                                    @Html.conceptosDrownList(usuario.Id, "PARTIPPAG", "periodoId")
                                    @Html.ValidationMessageFor(model => model.periodoId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.tipoContratoId, "tipoContratoId", htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                            @Html.contratosDrownList(usuario.Id, "tipoContratoId")
                            @Html.ValidationMessageFor(model => model.tipoContratoId, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(model => model.monedaId, "monedaId", htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td>
                                    @Html.conceptosDrownList(usuario.Id, "PARMONED", "monedaId")
                                    @Html.ValidationMessageFor(model => model.monedaId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.LabelFor(model => model.tipoCambio, htmlAttributes: new { @class = "control-label col-md-2", id = "ttipoCambio" })
                        </td>
                        <td>
                                    @Html.EditorFor(model => model.tipoCambio)
                                    @Html.ValidationMessageFor(model => model.tipoCambio, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.validador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.valida)
                            @Html.HiddenFor(model => model.valida)
                        </td>
                        <th colspan="2"> </th>
                        <td style="padding-right:8px; padding-top:8px; padding-left:55px">@Html.Label(@Language.autorizador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.autoriza)
                            @Html.HiddenFor(model => model.autoriza)
                        </td>
                    </tr>

                            @Html.LabelFor(model => model.observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
                        </td>
                        <td colspan="2">
                            @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td style="text-align:right;"><input type="submit" value="@Language.guardar" class="btn btn-primary" /></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        //attach with the id od deductions
        //$("#tipoCambio").hide("fast");
        //$("#ttipoCambio").hide("fast");

        $("#monedaId").bind("change", validateExchangeRate);
    });

    function validateExchangeRate() {
        var msg = $("#monedaId :selected").text();

        msg = msg.substring(0, 3);
        if (msg == 'MXN') {
            $("#tipoCambio").hide();
            $('#ttipoCambio').hide();
        } else {
            $("#tipoCambio").show();
            $('#ttipoCambio').show();
        }
    }
</script>

