@model IEnumerable<SUADATOS.ClientePatrone>
@using SUADATOS
@using SUAMVC.Models
@using System.Text;
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;
    var listItems = new List<ListItem>();
    Cliente cliente = TempData["cliente"] as Cliente;
}

@section Menu {
    <div>Registros patronales por cliente<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink(@Language.agregar, "Create", "ClientePatrones", new { clienteId = cliente.Id }, new { @class = "btn btn-success" })
</p>
<p>Registros patronales para el cliente: @cliente.descripcion</p>

<table class="table table-striped tableSua">
    <tr>
        <th>
            @Html.DisplayName(@Language.patron)
        </th>
        <th>
            @Html.DisplayName(@Language.descripcion)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
        <th>
            @Html.DisplayName(@Language.usuarioAlta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patrone.registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patrone.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
            </td>
            <td>
                <a href="@Url.Action("Delete", "ClientePatrones", new { id = item.id })" title="@Language.borrar">
                    <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
                </a>
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink(@Language.regresar, "Index", "Clientes")
</div>

