@model SUADATOS.ContratosCliente

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Catálogo de Contratos Cliente </div>
}

<div class="panel panel-info">
    <div class="panel-heading">
        ¿Desea borrar este registro?
    </div>
    <div class="panel-body" style="font-size:10px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@Language.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName(@Language.archivo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo1)
        </dd>

        <dt>
            @Html.DisplayName(@Language.archivo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo2)
        </dd>

        <dt>
            @Html.DisplayName(@Language.archivo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo3)
        </dd>

        <dt>
            @Html.DisplayName(@Language.fechaFirma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFirma)
        </dd>

        <dt>
            @Html.DisplayName(@Language.firmo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firmo)
        </dd>

        <dt>
            @Html.DisplayName(@Language.testigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actaConstitutivaEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actaConstitutivaEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poderRepresentanteLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poderRepresentanteLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ifeRepresentanteLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ifeRepresentanteLegal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comprobanteDomicilio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comprobanteDomicilio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaInicioVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaInicioVigencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaFinalVigencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaFinalVigencia)
        </dd>

        <dt>
            @Html.DisplayName(@Language.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

        <dt>
            @Html.DisplayName(@Language.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayName(@Language.claveCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.claveCliente)
        </dd>

        <dt>
            @Html.DisplayName(@Language.usuarioAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="form-group" style="margin-top:40px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Language.borrar" class="btn btn-default" /> |
            </div>
        </div>
            }
      </div>
    </div>
    <div>
        @Html.ActionLink(@Language.regresar, "Index")
    </div>
