@model IEnumerable<SUADATOS.ContratosCliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archivo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archivo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.archivo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFirma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firmo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.testigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.actaConstitutivaEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poderRepresentanteLegal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ifeRepresentanteLegal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comprobanteDomicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicioVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinalVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.claveCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archivo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archivo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.archivo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFirma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.testigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.actaConstitutivaEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poderRepresentanteLegal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ifeRepresentanteLegal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comprobanteDomicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicioVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinalVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.claveCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
