@model IEnumerable<SUADATOS.Asegurado>
@using System.Text;

@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "Asegurados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: Model, rowsPerPage: 10);
    @functions {
        static IHtmlString ShowPDF(string id)
        {
            return id != null ? new HtmlString("<img src=\"/Content/Images/pdf.gif\" class=\"icon\" />") : null;
        }
    }
    var tableHtml = string.Empty;
    var sb = new StringBuilder();

    sb.Append(grid.GetHtml(
    columns:
        grid.Columns(
        grid.Column(format: @<text><input type="checkbox" name="ids" value="@item.id" /></text>, header: "Select"),
            grid.Column("Patrone.registro", "Registro",  format: @<text> @if (@item.Patrone != null)
            {  @item.Patrone.registro }</text>, canSort:true),
            grid.Column("numeroAfiliacion", "Numero Afiliacion", null, null, true),
            grid.Column("curp", "CURP", null, null, true),
            grid.Column("rfc", "RFC", null, null, true),
            grid.Column("nombreTemporal", "Nombre", null, null, true),
            grid.Column("fechaAlta", "Fecha Alta", format: @<text>@item.fechaAlta.ToString("dd-MM-yyyy")</text>, canSort: true),
            grid.Column("fechaBaja", "Fecha Baja", format: @<text> @if (@item.fechaBaja != null)
            {  @item.fechaBaja.ToString("dd-MM-yyyy") }</text>, canSort: true),
            grid.Column("salarioImss", "Salario Imss", format: @<text>@item.salarioImss.ToString("0.00")</text>, canSort: true),
            grid.Column("ocupacion", "Ocupación", null, null, true),
            grid.Column("extranjero", "Extranjero", null, null, true),
            grid.Column("fechaCreacion", "Fecha Creacion", format: @<text> @if (@item.fechaCreacion != null)
            {  @item.fechaCreacion.ToString("dd-MM-yyyy") }</text>, canSort: true),

            grid.Column("Cliente.claveCliente", "Cliente/Ubicación", format: @<text> @if (@item.Cliente != null)
            {@item.Cliente.claveCliente}</text>, canSort: true),
            grid.Column(header: "Alta",
                format:

                @<text><a href="@Url.Action("ViewAttachment", "Asegurados", new { id = item.id, option = "A", carga = item.alta })" target="_blank">
                        @ShowPDF(item.alta)
                    </a></text>),

            grid.Column(header: "Baja",
                format:

                @<text><a href="@Url.Action("ViewAttachment", "Asegurados", new { id = item.id, option = "B", carga = item.baja })" target="_blank">
                        @ShowPDF(item.baja)
                    </a></text>),

            grid.Column(header: "Modificacion",
                format:

                @<text><a href="@Url.Action("ViewAttachment", "Asegurados", new { id = item.id, option = "M", carga = item.modificacion })" target="_blank">
                        @ShowPDF(item.modificacion)
                    </a></text>),

            grid.Column(header: "Permanente",
                format:@<a href="@Url.Action("ViewAttachment", new { id = item.id, option = "P", carga = item.permanente })" target="_blank">
                @ShowPDF(item.permanente)
            </a>),

           /*Links of control*/
            grid.Column(header: "Detalle", format: @<text><a href="@Url.Action("Details", "Asegurados", new { id = item.id })">
                <img src="~/Content/Images/list.png" alt="" style="border:none;" class="icon" />
            </a></text>),
            grid.Column(header: "Cargar Pdf", format: @<text><a href="@Url.Action("UploadFile", "Movimientos", new { id = item.id })">
                    <img src="~/Content/Images/upload-blue.png" alt="" style="border:none;" class="icon" />
                </a></text>)

                        ),
                        tableStyle: "table table-striped tableSua"
                    ));


    sb = sb.Replace("\r\n", string.Empty);
    sb = sb.Replace("    ", string.Empty);

    var sb1 = new StringBuilder();
    sb1.Append(sb.ToString().Trim());

    //<tfoot><tr ><td colspan=\"30\">
    String footer = "<table><tr><td>Total: &nbsp;" +
                    +grid.TotalRowCount +
                    "</td><td><a href=\"/Asegurados/GetExcel\">" +
                    "<img src=\"/Content/Images/xls.png\" style=\"border:none;\" width=\"30\" height=\"30\" />" +
                    "</a></td></tr></table>" +
                    "</td></tr></tfoot>";

    sb1 = sb1.Replace("</td></tr></tfoot>", footer);

    tableHtml = sb1.ToString();
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Catalogo de Asegurados</div>
}

@using (Html.BeginForm())
{
    <p>
        Patron: @Html.DropDownList("patronesId", "Seleccione")

        Cliente/Ubicación: @Html.DropDownList("clientesId", "Seleccione")

        Grupo: @Html.DropDownList("gruposId", "Seleccione")

        <input type="submit" value="Consultar" />
    </p>
}

@using (Html.BeginForm("UploadFiles", "Movimientos", FormMethod.Post))
{

    if (!tableHtml.IsEmpty())
    {
        @Html.Raw(tableHtml)
    }

    <div class="excel-area">
        <input type="submit" value="subir pdfs" class="btn btn-success" />
    </div>
    
    
}
