@model IEnumerable<SUADATOS.SDI>
@using SUADATOS

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;
}

@section Menu {
    <div>@Language.catde @Language.sdi<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@if (ViewBag.clienteId != null)
{
    <p>
        @Html.ActionLink(@Language.agregar + " " + @Language.sdi, "Create", "SDIs", new { clienteId = ViewBag.clienteId }, new { @class = "btn btn-success" })
    </p>
}
@using (Html.BeginForm())
{
    <div class="marqueeFilter">

        <table style="float:left; margin-top:5px;display:inline-block;">
            <thead>
                <tr style="text-align:left;vertical-align:bottom;">
                    <td style="padding-top:15px">
                        @Html.Label("Cliente:")
                        @Html.clientesDrownList(usuario.Id, "clienteId")
                    </td>
                    <td>
                        <input type="submit" value="" class="rsearch_button" title="@Language.consulta" />
                    </td>
                </tr>
            </thead>
        </table>
    </div>
}
<table class="table table-striped tableSua">
    <tr>
        <th>
            @Html.DisplayName(@Language.cliente)
        </th>
        <th>
            @Html.DisplayName(@Language.cliente)
        </th>
        <th>
            @Html.DisplayName(@Language.descripcion)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
        <th>
            @Html.DisplayName(@Language.usuarioAlta)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.claveCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
            </td>
            <td>
                <a href="@Url.Action("Edit","SDIs", new { id = item.id })" title="@Language.edit">
                    <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
                </a>|
                <a href="@Url.Action("Delete", "SDIs", new { id = item.id })" title="@Language.borrar">
                    <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
                </a>
            </td>
        </tr>
    }

</table>
