@model SUADATOS.Solicitud
@using SUADATOS

@{
    ViewBag.Title = "Modificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario usuario = Session["UsuarioData"] as Usuario;
    suaEntities db = new suaEntities();

    Cliente cliente = db.Clientes.Find(Model.clienteId);
    Proyecto proyecto = db.Proyectos.Find(Model.proyectoId);
}


@section Menu {
    <div>Solicitud de Baja de Empleados<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            Modificar Solicitud
        </div>
        <div class="panel-body" style="font-size:10px">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.sdiId)
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.clienteId)
                @Html.HiddenFor(model => model.proyectoId)
                @Html.HiddenFor(model => model.fechaSolicitud)
                @Html.HiddenFor(model => model.estatusAfiliado)
                @Html.HiddenFor(model => model.estatusJuridico)
                @Html.HiddenFor(model => model.estatusNomina)
                @Html.HiddenFor(model => model.estatusTarjeta)
                @Html.HiddenFor(model => model.estatusSolicitud)
                @Html.HiddenFor(model => model.valida)
                @Html.HiddenFor(model => model.solicita)
                @Html.HiddenFor(model => model.usuarioId)
                @Html.HiddenFor(model => model.autoriza)
                @Html.HiddenFor(model => model.folioSolicitud)
                @Html.HiddenFor(model => model.noTrabajadores)
                @Html.HiddenFor(model => model.tipoSolicitud)


                <table style="font-size:10px; width:400px; ">
                    <tr>
                        <th colspan="1"> </th>
                        <td style="padding-top:8px"> @Html.Label(@Language.cliente + ":")</td>
                        <td style="padding-top:8px; padding-left:8px">   @Html.Label(cliente.descripcion, new { style = "width: 200px;" })</td>
                        <th colspan="1"> </th>
                        <td>@Html.Label(@Language.plaza + ":")</td>
                        <td style="padding-top:8px">
                            @Html.plazasDrownNoAllList(usuario.Id, "plazaId")
                            @Html.ValidationMessageFor(model => model.plazaId, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th colspan="1"> </th>
                        <td style="padding-top:8px">@Html.Label(@Language.proyecto + ":")</td>
                        <td style="padding-top:8px; padding-left:8px">
                            @Html.Label(proyecto.descripcion, new { style = "width: 200px;" })
                        </td>
                        <th colspan="1"> </th>
                        <td style="padding-top:12px; padding-right:10px">@Html.Label(@Language.fechaBaja + ":")</td>
                        <td style="padding-top:12px">
                            @Html.EditorFor(model => model.fechaBaja, new { htmlAttributes = new { @class = "myNoDayBeforeDate", id = "fechaBaja" } })
                            @Html.ValidationMessageFor(model => model.fechaBaja, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.motivoBaja + ":", new { style = "width: 88px;" })</td>
                        <td style="padding-top:12px">
                            @Html.conceptosDrownList(usuario.Id, "BAJACON", "conceptoBaja")
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.registroPatronal + ":")</td>
                        <td style="padding-top:12px">
                            @Html.cteDrownList(usuario.Id, "regPatronalId", cliente.Id, "width:100px;height:25px", false)
                            @Html.ValidationMessageFor(model => model.regPatronalId, "", new { @class = "text-danger" })
                    <tr>
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-top:6px">@Html.Label(@Language.validador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.valida)
                            @Html.HiddenFor(model => model.valida)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-top:7px">@Html.Label(@Language.autorizador + ":")</td>
                        <td style="padding-top:12px">
                            @Html.Label(Model.autoriza)
                            @Html.HiddenFor(model => model.autoriza)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4"> </th>
                        <td style="padding-right:8px; padding-top:12px">@Html.Label(@Language.observaciones + ":")</td>
                        <td style="padding-top:12px">
                            @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control", rows = 3, @style = "width: 200px; " })
                            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td style="text-align:right;"><input type="submit" value="@Language.guardar" class="btn btn-primary" /></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink(@Language.regresar, "Index", new { clienteId = ViewBag.clienteId, proyectoId = ViewBag.proyectoId })
</div>

