@model IEnumerable<SUADATOS.Solicitud>
@using SUADATOS
@using SUAMVC.Models
@using System.Text;

@{
    ViewBag.Title = "Alta personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;

    var grid = new WebGrid(source: Model, rowsPerPage: 10);
    var tableHtml = string.Empty;
    var sb = new StringBuilder();

    var listItems = new List<System.Web.UI.WebControls.ListItem>();

    //Creamos una lista de columnas
    var gridColumns = new List<WebGridColumn>();
    gridColumns.Add(grid.Column("Concepto5.descripcion", Language.tipo, format: @<text> @if (@item.tipoSolicitud != null)
    {  @item.Concepto5.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("folioSolicitud", Language.tipo, format: @<text> @item.folioSolicitud</text>, canSort: true));
    gridColumns.Add(grid.Column("Proyecto.descripcion", Language.proyecto, format: @<text> @if (@item.ProyectoId != null)
    {  @item.Proyecto.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("Plaza.descripcion", Language.plaza, format: @<text> @if (@item.PlazaId != null)
    {  @item.Plaza.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("fechaSolicitud", "Fecha Solicitud", @<text><div style='width: 6em'>
            @if (@item.fechaSolicitud != null)
            { @item.fechaSolicitud.ToString("dd-MM-yyyy")}
        </div></text>, null, canSort: true));
    gridColumns.Add(grid.Column("EsquemasPago.descripcion", "Esquema", format: @<text> @if (@item.esquemaId != null)
    {  @item.EsquemasPago.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("SDI.descripcion", "SDI", format: @<text> @if (@item.sdiId != null)
    {  @item.SDI.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("TipoContrato.descripcion", "Tipo Contrato", format: @<text> @if (@item.contratoId != null)
    {  @item.TipoContrato.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("TipoPersonal.descripcion", "Tipo Personal", format: @<text> @if (@item.tipoPersonalId != null)
    {  @item.TipoPersonal.descripcion }</text>, canSort: true));
    gridColumns.Add(grid.Column("fechaInicial", "Fecha Inicio", @<text><div style='width: 6em'>
            @if (@item.fechaInicial != null)
            { @item.fechaInicial.ToString("dd-MM-yyyy")}
        </div></text>, null, canSort: true));
    gridColumns.Add(grid.Column("fechaFinal", "Fecha Final", @<text><div style='width: 6em'>
                @if (@item.fechaFinal != null)
                { @item.fechaFinal.ToString("dd-MM-yyyy")}
            </div></text>, null, canSort: true));
    gridColumns.Add(grid.Column("solicita", "Solicitó", format: @<text> @if (@item.solicita != null)
    {  @item.solicita }</text>, canSort: true));
    gridColumns.Add(grid.Column("observaciones", "Observaciones", format: @<text> @if (@item.observaciones != null)
    {  @item.observaciones }</text>, canSort: true));
    gridColumns.Add(grid.Column("noTrabajadores", "No. Trab.", format: @<text> @if (@item.noTrabajadores != null)
    {  @item.noTrabajadores }</text>, canSort: true));
    gridColumns.Add(grid.Column("concepto.descripcioin", "Estatus Solicitud", format: @<text> @if (@item.estatusSolicitud != null)
    {  @item.concepto.descripcion }</text>, canSort: true));
    if (SecurityUserModel.verificarPermiso("1", "1",6))
    {
        gridColumns.Add(grid.Column(header: "NOM.", format: @<text><a href="@Url.Action("Create", "RespuestaSolicitud", new { folioSolicitudId = item.id, departId = "N" })"><img src="~/Content/Images/worker.png" alt="" style="border:none;" class="icon" /></a></text>));
    }
    if (SecurityUserModel.verificarPermiso("1", "1", 6))
    {
        gridColumns.Add(grid.Column(header: "IMSS.", format: @<text><a href="@Url.Action("Create", "RespuestaSolicitud", new { folioSolicitudId = item.id, departId = "I" })"><img src="~/Content/Images/imss.jpg" alt="" style="border:none;" class="icon" /></a></text>));
    }
    if (SecurityUserModel.verificarPermiso("1", "1", 6))
    {
        gridColumns.Add(grid.Column(header: "JURID.", format: @<text><a href="@Url.Action("Create", "RespuestaSolicitud", new { folioSolicitudId = item.id, departId = "J" })"><img src="~/Content/Images/balance.png" alt="" style="border:none;" class="icon" /></a></text>));
    }
    if (SecurityUserModel.verificarPermiso("1", "1", 6))
    {
        gridColumns.Add(grid.Column(header: "TARJ.", format: @<text><a href="@Url.Action("UploadFile", "RespuestaSolicitud", new { folioSolicitudId = item.id, departId = "T" })"><img src="~/Content/Images/creditCard.png" alt="" style="border:none;" class="icon" /></a></text>));
    }
    if (SecurityUserModel.verificarPermiso("1", "1", 6))
    {
        gridColumns.Add(grid.Column(header: "Personal", format: @<text><a href="@Url.Action("UploadFile", "Movimientos", new { id = item.id })"><img src="~/Content/Images/people-b.png" alt="" style="border:none;" class="icon" /></a></text>));
    }

    gridColumns.Add(grid.Column(header: "Afiliación", format: @<text><a href="@Url.Action("crearExcelAfiliacion", "PanelSolicitud", new { solicitudId = item.id })"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));

    gridColumns.Add(grid.Column(header: "Jurídico", format: @<text><a href="@Url.Action("crearExcelJuridico", "PanelSolicitud", new { solicitudId = item.id })"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));

    gridColumns.Add(grid.Column(header: "Nómina", format: @<text><a href="@Url.Action("crearExcelNomina", "PanelSolicitud", new { solicitudId = item.id })"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));

    gridColumns.Add(grid.Column(header: "Tarjeta Santander", format: @<text><a href="@Url.Action("crearExcelTarjetaSantander", "PanelSolicitud", new { solicitudId = item.id })"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));

    gridColumns.Add(grid.Column(header: "Detalle Empleados", format: @<text><a href="@Url.Action("crearExcelDetalleEmpleados", "PanelSolicitud", new { solicitudId = item.id })"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));


    sb.Append(grid.GetHtml(
columns: grid.Columns(gridColumns.ToArray()),
tableStyle: "table table-striped tableSua"
));

    tableHtml = sb.ToString().Replace("{}", "<input type='checkbox' id='selectAll' name='slall' />").Trim();
}

@section Menu {
    <div>Solicitudes <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}
<script language="javascript" type="text/javascript">
    function obtenerProyectos(_clienteId) {
        var procemessage = "<option value='0'> Por favor espere...</option>";
        $("#proyectoId").html(procemessage).show();
        var url = "/Proyectos/ObtenerProyectosPorClienteId/";

        $.ajax({
            url: url,
            data: { clienteId: _clienteId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccione su proyecto</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                }
                $("#proyectoId").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>

@using (Html.BeginForm())
{
    <div class="marqueeFilter">

        <table style="float:left; margin-top:5px;display:inline-block;">
            <thead>
                <tr style="text-align:left;vertical-align:bottom;">
                    <td style="padding-top:15px">
                        @Html.Label("Cliente:")
                    </td>
                    <td>
                        @Html.clientesDrownList(usuario.Id, "clienteId", "javascript:obtenerProyectos(this.value);", "width:200px;height:20px")
                    </td>
                    
                    <td style="padding-left:12px">
                        @Html.Label("Proyecto:")
                    </td>
                    <td style="padding-left:8px">
                        @Html.DropDownList("proyectoId", new SelectList(listItems, "Value", "Text"), " Seleccione", "width:200px;height:20px")
                    </td>
                    <td style="padding-left:12px">
                        @Html.Label("Folio:")
                    </td>
                    <td>
                        @Html.Editor("folioId")
                    </td>
                    <td style="padding-left:12px">
                        @Html.Label(Language.tipo)
                    </td>
                    <td>
                        @Html.conceptosDrownList(usuario.Id, "SOLCON", "tipoId")
                    </td>
                    <td style="padding-left:18px">
                        <input type="submit" value="" class="rsearch_button" title="@Language.consulta" />
                    </td>
                </tr>
            </thead>
        </table>
    </div>
}


@if (!tableHtml.IsEmpty())
{
    <div id="table-container" class="table-container">
        @Html.Raw(tableHtml)
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=slall]").change(function () {
            $('#table-container input[type=checkbox]').each(function () {
                if ($("input[name=slall]:checked").length == 1) {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            });
        });
    });
</script>
