@model IEnumerable<SUADATOS.RespuestaSolicitud>
           @using SUADATOS 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }

    Solicitud solicitud = new Solicitud();
    if (ViewBag.solicitud != null) {
        solicitud = ViewBag.solicitud as Solicitud;
    }
    
}
@section Menu {
    <div>@Language.catde @Language.respuestaSolicitud<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<div class="marqueeFilter">
    <table>
        <tr>
            <td>@Html.Label(@Language.solicitud)</td>
            <td>@solicitud.folioSolicitud</td>
        </tr>
        <tr>
            <td>@Html.Label(@Language.cliente)</td>
            <td>@solicitud.Cliente.descripcion</td>
        </tr>
    </table>
    </div>


    <table class="table table-striped tableSua">
        <tr>
            <th>
                @Html.DisplayName(@Language.departamento)
            </th>
            <th>
                @Html.DisplayName(@Language.grupo)
            </th>
            <th>
                @Html.DisplayName(@Language.fechaAlta)
            </th>
            <th>
                @Html.DisplayName(@Language.observaciones)
            </th>
            <th>
                @Html.DisplayName(@Language.usuarioAlta)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.observaciones)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
                </td>
            </tr>
        }

    </table>
