@model SUADATOS.FamiliaresEmpleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FamiliaresEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefonoCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefonoCasa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto.grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto.grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.folioEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.folioEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
