@model SUADATOS.Sexo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <div>Catalogo de Sexo<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}
<div class="panel panel-info">
    <div class="panel-heading">
        Detalle de Genero
    </div>
</div>
<div class="panel-body" style="font-size:10px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName(@Language.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayName(@Language.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayName(@Language.usuarioAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(@Language.edit, "Edit", new { id = Model.id }) |
    @Html.ActionLink(@Language.regresar, "Index")
</p>
