@model SUADATOS.ArmadoPrenomina

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ArmadoPrenomina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.claveCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.claveCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptosPrenómina.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptosPrenómina.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsquemasPago.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsquemasPago.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
