@model IEnumerable<SUADATOS.Estado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }
}

@section Menu {
    <div>@Language.catde @Language.estado<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink(@Language.agregar + " " + @Language.estado, "Create", "Estado", new { @class = "btn btn-success" })
</p>
<table class="table table-striped tableSua">
    <tr>
        <th>
            @Html.DisplayName(@Language.descripcion)
        </th>
        <th>
            @Html.DisplayName(@Language.fechaAlta)
        </th>
        <th>
            @Html.DisplayName(@Language.pais)
        </th>
        <th>
            @Html.DisplayName(@Language.usuarioAlta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            <a href="@Url.Action("Edit","estado", new { id = item.id })" title="@Language.edit">
                <img src="~/Content/Images/edit.png" alt="" style="border:none;" class="icon" />
            </a>|
            <a href="@Url.Action("Delete", "estado", new { id = item.id })" title="@Language.borrar">
                <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
            </a>
        </td>
    </tr>
}

</table>
