@model SUAMVC.Models.PagosModel
@using SUADATOS
@using SUAMVC.Models
@using System.Text;


@{
    ViewBag.Title = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }


    var buscar = "0";
    if (TempData["buscador"] != null)
    {
        buscar = TempData["buscador"] as String;
    }
    Usuario usuario = Session["UsuarioData"] as Usuario;

    var grid = new WebGrid(source: Model.pagos, canPage: false);
    @functions {
        static IHtmlString ShowPDF(string id)
        {
            return id != null ? new HtmlString("<img src=\"/Content/Images/pdf.gif\" class=\"icon\" />") : null;
        }
    }

    var tableHtml = string.Empty;
    var sb = new StringBuilder();

    //Creamos una lista de columnas
    var gridColumns = new List<WebGridColumn>();
    @*gridColumns.Add(grid.Column(format: @<text><input type="checkbox" name="ids" value="@item.id" /></text>, header: "{}"));*@

    gridColumns.Add(grid.Column("Patrone.registro", "Reg. Patronal", null, null, true));
    gridColumns.Add(grid.Column("Patrone.nombre", "ID. Empresa",  @<text><div style='width: 28em'>@item.Patrone.nombre</div></text> , null, canSort: true));
    gridColumns.Add(grid.Column("mes", "Mes", @<text><div style='width: 1em'>@item.mes</div></text> , null, canSort: true));
    gridColumns.Add(grid.Column("anno", "Año", @<text><div style='width: 1em'>@item.anno</div></text> , null, canSort: true));
    gridColumns.Add(grid.Column("imss", "IMSS", format: @<text>@if(@item.imss != null) {@item.imss.ToString("#,##0.00")}</text>, canSort: true));
    gridColumns.Add(grid.Column("rcv", "RCV", format: @<text>@item.rcv.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("infonavit", "Infonavit", format: @<text>@item.infonavit.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("total", "Total", format: @<text>@item.total.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("recargos", "Recargos", format: @<text>@item.recargos.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("actualizaciones", "Actualizaciones", format: @<text>@item.actualizaciones.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("granTotal", "Gran Total", format: @<text>@item.granTotal.ToString("#,##0.00")</text>, canSort: true));
    gridColumns.Add(grid.Column("nt", "NT", null, null, true));
    gridColumns.Add(grid.Column("fechaDeposito", "F. Deposito", @<text><div style='width: 6em'>
            @if (@item.fechaDeposito != null)
            { @item.fechaDeposito.ToString("dd-MM-yyyy")}
        </div></text>, null, canSort: true));

    gridColumns.Add(grid.Column("item.Pago.bancoId", "Banco", @<text><div style='width: 6em'>
                @if (@item.bancoId != null)
                { @item.Banco.descripcion}
            </div></text>, null, true));
    gridColumns.Add(grid.Column("Patrone.Plaza.cveCorta", "Localidad SUA", @<text><div style='width: 1em'>@item.Patrone.Plaza.cveCorta</div></text> , null, canSort: true));


    if (SecurityUserModel.verificarPermiso("RegistroPagos", "ColumnasPDF"))
    {
        gridColumns.Add(grid.Column(header: "CP", format: @<text>
            @if (item.comprobantePago != null)
            {
                <a href="@Url.Action("VerComprobante", "Pagos", new { fileNameString = "CP\\" + item.comprobantePago })">
                    <img src="~/Content/Images/pdf.gif" alt="" style="border:none;" class="icon" />
                </a>
            }
            else
            {
                <a href="@Url.Action("UploadComprobantes", "Pagos", new { id = item.id, comprobanteId = "CP" })">
                    <img src="~/Content/Images/upload.png" alt="" style="border:none;" class="icon" />
                </a>
            }
        </text>));

        gridColumns.Add(grid.Column(header: "RL", format: @<text>
            @if (item.resumenLiquidacion != null)
            {
                <a href="@Url.Action("VerComprobante", "Pagos", new { fileNameString = "RL\\" + item.resumenLiquidacion })">
                    <img src="~/Content/Images/pdf.gif" alt="" style="border:none;" class="icon" />
                </a>
            }
            else
            {
                <a href="@Url.Action("UploadComprobantes", "Pagos", new { id = item.id, comprobanteId = "RL" })">
                    <img src="~/Content/Images/upload.png" alt="" style="border:none;" class="icon" />
                </a>
            }
        </text>));

        gridColumns.Add(grid.Column(header: "CA", format: @<text>
            @if (item.cedulaAutodeterminacion != null)
            {
                <a href="@Url.Action("VerComprobante", "Pagos", new { fileNameString = "CA\\" + item.cedulaAutodeterminacion })">
                    <img src="~/Content/Images/pdf.gif" alt="" style="border:none;" class="icon" />
                </a>
            }
            else
            {
                <a href="@Url.Action("UploadComprobantes", "Pagos", new { id = item.id, comprobanteId = "CA" })">
                    <img src="~/Content/Images/upload.png" alt="" style="border:none;" class="icon" />
                </a>
            }
        </text>));
    }

    gridColumns.Add(grid.Column(header: "Excel", format: @<text><a href="@Url.Action("ExcelDetalle", "Pagos", new { @id = item.id})"><img src="~/Content/Images/xls.png" alt="" style="border:none;" class="icon" /></a></text>));

        if (SecurityUserModel.verificarPermiso("RegistroPagos", "ColumnasPDF"))
    {
        gridColumns.Add(grid.Column(header: "Resumen", format: @<text><a href="@Url.Action("ResumenPagos", "Pagos", new { @id = item.id})"><img src="~/Content/Images/report.png" alt="" style="border:none;" class="icon" /></a></text>));
    }

    sb.Append(grid.GetHtml(
        columns: grid.Columns(gridColumns.ToArray()),
                        tableStyle: "table table-striped tableSua"
                    ));

    String footer = "<tfoot><tr> " +
                "<td>Totales:</td> <td colspan=3></td>" +
                "<td>" + @String.Format("{0:C}", @Model.pagosFooter.sumImss) + "</td><td>" + @String.Format("{0:C}", @Model.pagosFooter.sumRcv) + " </td>" +
                "<td>" + @String.Format("{0:C}", @Model.pagosFooter.sumInfonavit) + "</td><td>" + @String.Format("{0:C}", @Model.pagosFooter.sumTotal) + "</td>" +
                "<td>" + @String.Format("{0:C}", @Model.pagosFooter.sumRecargos) + "</td><td>" + @String.Format("{0:C}", @Model.pagosFooter.sumActualiz) + "</td>" +
                "<td>" + @String.Format("{0:C}", @Model.pagosFooter.sumGTotal) + "</td><td>" + @String.Format("{0:0,0}", @Model.pagosFooter.sumNt) + "</td></tr></tfoot></table>";
    tableHtml = sb.ToString().Replace("</table>", footer).Trim();

//    var flagMenu = @ViewBag.flagMenus;
}

@section Menu {
    <div><img src="~/Content/Images/people-b.png" width="15" height="15" /> Registro de Pagos</div>
}

@using (Html.BeginForm(null, null, FormMethod.Post))
{
    //MarqueeFilter - Todos los filtros principales
    <div class="marqueeFilter">
        <table style="float:left; margin-top:5px;display:inline-block;">
            <thead>
                <tr style="text-align:left;vertical-align:bottom;">
                    <td style="padding-top:15px">
                        <b>@Language.plaza:</b>
                    </td>
                    <td>
                        @Html.plazasDrownList(usuario.Id)
                    </td>
                    <td style="padding-left:15px">
                        <b>@Language.patron:</b>
                    </td>
                    <td>
                        @Html.patronesDrownList(usuario.Id)
                    </td>
                    <td style="padding-left:15px">
                        <b>@Language.periodo:</b>
                    </td>
                    <td>@Html.periodosAutoList()
                    </td>
                    <td style="padding-left:15px">
                        <b>@Language.ejercicio:</b>
                    </td>
                    <td>
                        @Html.ejercicioAutoList()
                    </td>
                    <td style="padding-left:25px" rowspan="2">
                        <a href="@Url.Action("GetExcel", "Pagos", new{ plazasId = @ViewBag.pzaId, patronesId = @ViewBag.patId,
                                periodoId = @ViewBag.periodoId, ejercicioId = @ViewBag.ejercicioId})" style="text-align:right">
                            <img src="~/Content/Images/xls.png" title="@Language.toExcel" alt="@Language.toExcel" style="border:none;" width="30" height="30" />
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
}


@if (!tableHtml.IsEmpty())
{
    <div id="table-container" class="table-container">
        @Html.Raw(tableHtml)
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("input[name=slall]").change(function () {
            $('#table-container input[type=checkbox]').each(function () {
                if ($("input[name=slall]:checked").length == 1) {
                    this.checked = true;
                } else {
                    this.checked = false;
                }
            });
        });
    });
</script>
