@model SUADATOS.Solicitud
@using SUADATOS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Usuario usuario = Session["UsuarioData"] as Usuario;
    if (!WebSecurity.IsAuthenticated || usuario == null )
    {
        Response.Redirect("~/Home/Index");
    }
    
}

@section Menu {
    <div>@Language.modificar Solicitud<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-info">
        <div class="panel-heading">
            Modificar Solicitud
        </div>
        <div class="panel-body" style="font-size:10px; background-color: #fafbfc">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.clienteId)
                @Html.HiddenFor(model => model.proyectoId)
                @Html.HiddenFor(model => model.fechaSolicitud)
                @Html.HiddenFor(model => model.estatusAfiliado)
                @Html.HiddenFor(model => model.estatusJuridico)
                @Html.HiddenFor(model => model.estatusNomina)
                @Html.HiddenFor(model => model.estatusTarjeta)
                @Html.HiddenFor(model => model.fechaBaja)
                @Html.HiddenFor(model => model.estatusSolicitud)
                @Html.HiddenFor(model => model.valida)
                @Html.HiddenFor(model => model.solicita)
                @Html.HiddenFor(model => model.usuarioId)
                @Html.HiddenFor(model => model.autoriza)
                @Html.HiddenFor(model => model.folioSolicitud)
                @Html.HiddenFor(model => model.noTrabajadores)
                @Html.HiddenFor(model => model.tipoSolicitud)
                
                
                <table style="font-size:10px;margin:0 auto; width:700px; ">
                    <tr>
                        <td>
                            @Html.LabelFor(model => model.clienteId, "clienteId")
                        </td>
                        <td>
                            @Html.Label(Model.Cliente.descripcion)
                        </td>
                        <td>
                            @Html.Label(Language.proyecto)
                        </td>
                        <td>
                            @Html.Label(Model.Proyecto.descripcion)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label(Language.plaza)
                        </td>
                        <td>
                            @Html.plazasDrownListNS(usuario.Id, "plazaId")    
                        </td>
                        <td>@Html.Label(Language.esquema)</td>
                        <td>@Html.esquemasDrownList(usuario.Id, "esquemaId")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.sdi, new { htmlAttributes = new { id = "sdiIdTxt" } })</td>
                        <td>@Html.sdiDrownList(usuario.Id, "sdiId", Model.clienteId, "width:100px;height:25px", false)</td>
                        <td>@Html.Label(Language.contratosClientes)</td>
                        <td>@Html.contratosDrownList(usuario.Id, "contratoId")</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.fechaInicio)</td>
                        <td>@Html.EditorFor(model => model.fechaInicioContrato, new { htmlAttributes = new { @class = "myNoDayBeforeDate" } })</td>
                        <td>@Html.Label(Language.fechaFinal)</td>
                        <td>@Html.EditorFor(model => model.fechaTerminoContrato, new { htmlAttributes = new { @class = "myNoDayBeforeDate" } })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.tipoPersonal)</td>
                        <td>@Html.tipoPersonalDrownList(usuario.Id, "tipoPersonalId", "tipoPersonalId")</td>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.validador)</td>
                        <td>@Html.Label(Model.valida)</td>
                        <td>@Html.Label(Language.autorizador)</td>
                        <td>@Html.Label(Model.autoriza)</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(Language.observaciones)</td>
                        <td colspan="3">
                            @Html.TextAreaFor(model => model.observaciones, new { @class = "form-control", rows = 4 })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td><input type="submit" value="Save" class="btn btn-primary" /></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Language.regresar, "Index")
</div>

<script>
    $(document).ready(function () {
        var msg = $("#esquemaId :selected").text();
        if (msg == "IAS") {
            $("#sdiId").hide("fast");
            $('#sdiIdTxt').hide("fast");
        }
        //attach with the id od deductions
        $("#esquemaId").bind("change", validateEsquema);
        $("#contratoId").bind("change", validateContrato);

    });

    function validateEsquema() {
        var msg = $("#esquemaId :selected").text();
        if (msg != 'SyS') {
            $("#sdiId").hide("slow");
            $('#sdiIdTxt').hide("slow");
        } else {
            $("#sdiId").show();
            $('#sdiIdTxt').show();
        }
    }
    function validateContrato() {
        var msg = $("#contratoId :selected").text();
        if (msg.toLowerCase() != 'determinado') {
            $("#fechaTContrato").hide("slow");
            $('#fechaTContratoTxt').hide("slow");
        } else {
            $("#fechaTContrato").show();
            $('#fechaTContratoTxt').show();
        }
    }
    function validateTipoPersonal() {
        var msg = $("#tipoPersonalId :selected").text();
        if (msg.toLowerCase() != 'costa fuera') {
            $("#fechaInicial").hide("slow");
            $("#fechaFinal").hide("slow");
            $('#fechaInicialTxt').hide("slow");
            $('#fechaFinalTxt').hide("slow");
        } else {
            $("#fechaInicial").show();
            $("#fechaFinal").show();
            $('#fechaInicialTxt').show();
            $('#fechaFinalTxt').show();
        }
    }
</script>