@model IEnumerable<SUADATOS.Solicitud>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <div>Solicitudes <img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<p>
    @Html.ActionLink("Create New", "Create", "Solicitudes", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solicita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autoriza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.noTrabajadores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusNomina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusAfiliado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusJuridico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.claveCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsquemasPago.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Residencia.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDI.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoContrato.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPersonal.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fechaSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solicita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autoriza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.noTrabajadores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusSolicitud)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusNomina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusAfiliado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusJuridico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusTarjeta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.claveCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EsquemasPago.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Residencia.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDI.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoContrato.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPersonal.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
