@model SUADATOS.ArchivoEmpleado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu {
    <div>Archivos empleados<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<div>
    <h4>ArchivosEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.archivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.archivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Concepto.grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Concepto.grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleado.folioEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.folioEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.nombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
