@model IEnumerable<SUADATOS.ArchivoEmpleado>
@using SUADATOS
@using SUAMVC.Models
@using System.Text;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Home/Index");
    }


    var tableHtml = string.Empty;
    var sb = new StringBuilder();
    Usuario usuario = Session["UsuarioData"] as Usuario;

    var grid = new WebGrid(source: Model, rowsPerPage: 10);
    var gridColumns = new List<WebGridColumn>();

    gridColumns.Add(grid.Column("Usuario.nombreUsuario", "Usuario", null, null, true));
    gridColumns.Add(grid.Column("archivo", "Archivo", null, null, true));
    gridColumns.Add(grid.Column("fechaCreacion", "Fecha Creacion", null, null, true));

    if (SecurityUserModel.verificarPermiso("cargar documentos", "Se agrega solicitud para cargar documentos"))
    { 
    gridColumns.Add(grid.Column(header: "Archivo", format: @<text>
        <a href="@Url.Action("VerDocumento", "ArchivosEmpleados", new { fileNameString = item.archivo})">
            <img src="~/Content/Images/pdf.gif" alt="" style="border:none;" class="icon" />
        </a>
    </text>));

    gridColumns.Add(grid.Column(header: "Borrar", format: @<text>
        <a href="@Url.Action("Delete", "ArchivosEmpleados", new { id = item.id})">
            <img src="~/Content/Images/delete.png" alt="" style="border:none;" class="icon" />
        </a>

    </text>));
           }

    sb.Append(grid.GetHtml(
       columns: grid.Columns(gridColumns.ToArray()),
                       tableStyle: "table table-striped tableSua"));

    tableHtml = sb.ToString();

}

@section Menu {
    <div>Archivos empleados<img src="~/Content/Images/people-b.png" width="15" height="15" /></div>
}

<div class="marqueeFilter">
    <table style="float:left; margin-top:5px;display:inline-block;">
        <thead>
            <tr style="text-align:left;vertical-align:bottom;">
                <td>
                    Empleado:
                </td>
                <td>
                    <b>@ViewBag.folioEmpleado</b>
                </td>
                <td style="padding-left:15px">
                    <b>@ViewBag.nombreEmpleado.Trim()</b>
                </td>
                <td style="padding-left:15px">
                    Tipo de documentos:
                </td>
                <td>
                    <b>@ViewBag.tipoArchivo.Trim()</b>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Url.Action("Edit", "Empleados", new { id = @ViewBag.empleadoId })">
                        <p><img src="~/Content/Images/back.png" alt="" style="border:none;float:left;clear:both; " class="icon" />@Language.regresar</p>
                    </a>
                </td>
            </tr>
        </thead>
    </table>
</div>



@if (!tableHtml.IsEmpty())
{
    <div id="table-container" class="table-container">
        @Html.Raw(tableHtml)
    </div>
}