@model IEnumerable<SUADATOS.ArchivosEmpleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.archivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCreacoin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concepto.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.folioEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.nombreUsuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.archivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCreacoin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.folioEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.nombreUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
